.profile-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 13px;

    &__input {
        border: none;
        color: #999999;
        text-align: end;
        width: 300px;

        &:focus {
            text-align: start;
        }
    }
}
