.chat {
  display: grid;
  grid-template-rows: 44px auto 64px;
  padding: 10px 0;
  gap: 4px;
  max-height: 100%;
  overflow-y: hidden;
  scrollbar-width: thin;
  box-sizing: border-box;

  &__header {
    display: grid;
    grid-template-columns: 34px auto 44px;
    padding: 0 20px 10px;
    gap: 16px;
    align-items: center;
    border-bottom: 1px solid var(--border);
    z-index: 1000;

    .chat-menu {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &__actions {
        display: none;
        position: absolute;
        width: 240px;
        background: var(--color-white);
        box-shadow: var(--box-shadow);
        padding: 12px;
        border-radius: 10px;

        i {
          color: var(--color-blue);
        }
      }

      &__action {
        display: flex;
        align-items: center;
        padding: 8px;
        gap: 8px;
        cursor: pointer;
        border-radius: 6px;
        background: none;
        border: none;
        font-size: 14px;

        &:hover {
          background: var(--color1);
        }
      }
    }

    .chat-menu:hover .chat-menu__actions {
      display: flex;
      flex-direction: column;
      gap: 4px;
      top: 30px;
      right: 12px;
    }
  }

  &__messages {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    height: 100%;
    padding: 0 20px;
    overflow-y: scroll;
    scrollbar-width: thin;
  }

  &__input-block {
    display: grid;
    grid-template-columns: 30px auto 30px;
    gap: 12px;
    align-items: center;
    padding: 10px 20px 0;
    border-top: 1px solid var(--border);

    .message-label {
      margin: 0;
    }

    .message-input {
      padding: 12px 10px;
      background: var(--color1);
      border: none;
      border-radius: 100px;
      box-sizing: border-box;
    }

    .lni-paperclip {
      color: var(--color-gray);
      font-size: 20px;
      transform: rotate(45deg);
    }

    .send-btn {
      height: 40px;
      width: 40px;
      background: var(--color1);
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
