<div class="serverError">
    <span class="serverError_status">500</span>
    {{> Text text="Мы уже фиксим" type='primary' size='large' }}
    {{> Button type='text' label='Назад к чатам' page='chat' }}
</div>