.error {
  text-align: center;
}

.title {
  font-size: 40px;
  margin-bottom: 20px;
}

.description {
  font-size: 20px;
  margin-bottom: 69px;
}

.link {
  color: #3369F3;
  text-decoration: none;
  font-size: 11px;
}
