body {
    margin: 0;
    max-width: 1342px;
    max-height: 720px;
    /* background-color: #f0f0f0; */
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 500;
}
.container {
    width: 553px;
    /* height: 450px; */
    margin: 0 auto;
    margin-top: 55px;
    padding-left: 15px;
    padding-right: 15px;
    /* border: solid;
    border-radius: 12px; */
    border-color: #F5F5F5;
}
.row {
    display: flex;
    flex-wrap: wrap;
   
}
.row-2 {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    align-content: flex-end;
   
}
.heading {
    text-align: center;
}
input {
	height: 16px;
    width: 64%;
	/* padding: 6px 181px10px;  */
	/* background-color: #fff; */
    margin-left: 35%;
	border: none;
    border-bottom: 2px solid;
    border-color: #3369F3;
	box-shadow: none;
	/* border-radius: 0; */
	outline: none;
}
.column-2 {
    flex: 0 0 50%;
    margin-top: 21px;
}
.column-centr {
    width: 280px;
    margin: auto;
}

label {
    /* display: inline-block;  */
    margin-bottom: 10px;
    font-size: 12px;
    /* color: #999999; */
}
.btn {
	display: inline-block;
	height: 38px;
    width: 100%;
	color: white;
	text-align: center;
    line-height: 38px;
    text-decoration: none;
	background: #3369F3;
	border-radius: 12px;
}
.btn-2 {
	display: inline-block;
	height: 38px;
    width: 100%;
	color:  #3369F3;
	/* text-align: center; */
    line-height: 38px;
    text-decoration: none;
	/* background: #3369F3; */
	/* border-radius: 12px; */
}
.btn-3 {
	display: inline-block;
	height: 38px;
    width: 100%;
	color:  red;
	/* text-align: center; */
    line-height: 38px;
    text-decoration: none;
	/* background: #3369F3; */
	/* border-radius: 12px; */
}
.btn-4 {
	display: inline-block;
	height: 38px;
    width: 100%;
	color:  red;
	text-align: center;
    line-height: 38px;
    text-decoration: none;
	/* background: #3369F3; */
	/* border-radius: 12px; */
}
.foto {
    background: #EFEFEF;
   
    border-radius: 50%;
    /* box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125); */
    display: flex;
    height: 130px;
    width: 130px;
    margin: auto;
   
  }
  .foto img {
    margin: auto;
    /* margin-right: auto;
    display: block;
    position:absolute;  */
   
  }