@import '../../../consts.scss';

.form-field__label {
  @include text($middle-background-color);
  @include display-flex(space-between, column, stretch);
  margin: $small-margin $main-margin;
  font-size: medium;
}

.form-field__input {
  @include text($dark-text-color);
  border-bottom: $border $middle-background-color;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: $small-margin 0 calc($small-margin / 2);
}

.form-field__input:focus-visible {
  outline: none;
  background-color: $light-shadow-color;
}
