.chat-item {
  display: flex;
  flex-direction: row;//column;
  //justify-content: center;
  align-items: center;
  width: 500px;
  padding: 10px;
  background-color: #97AEFF;

  .chat-item__avatar {
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 50%;
  }

  .chat-item__titles-container {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
   // display: block;

    .chat-item__title {
      display: block;
      //width: 100%;

      .chat-item__user-title {

      }
      .chat-item__details-title {

      }
    }

    .chat-item__subtitle {

    }

  }
}

