<div class="chat-item {{#if isSelected}}chat-item--selected{{/if}}">
    <div class="chat-item__avatar">
        {{> Avatar }}
    </div>
    <div class="chat-item__info">
        <div class="chat-item__info-top">
            <b>User fullname</b>
            <span>12:23</span>
        </div>
        <div class="chat-item__info-bottom">
            <p>This is the last user message. It can be very long</p>
            <div class="chat-item__info-bottom-count">
                9
            </div>
        </div>
    </div>
</div>
