<div class="chat-item" >
    <div class="chat-item__avatar"></div>
    <div class="chat-item__titles-container">
        <div class="chat-item__title">
            <span class="chat-item__user-title">User_name</span>
            <span class="chat-item__details-title">12:34</span>
        </div>
        <div class="chat-item__subtitle">
            <span class="chat-item__dialog-subtitle">
                <span class="chat-item__author">You:</span>
                <span class="chat-item__message">Message</span>
            </span>
            <span class="chat-item__dialog-badge">2</span>
        </div>
    </div>
</div>