@import "/src/scss/variables";

.chat-item {
  display: flex;
  color: black;
  align-items: center;
  background-color: white;
  margin: 2px 1px 2px 0;

  &:hover {
    background-color: #d1d3dc;
  }

  &--selected,
  &--selected:hover {
    background-color: #cfe0ff;
  }

  &__avatar {
    display: flex;
    width: 60px;
    height: 60px;
    margin-left: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 10px;
    min-width: 220px;

    &-top {
      display: flex;
      b {
        font-weight: bold;
        font-size: 14px;
        flex: 1;
        margin-bottom: 6px;
      }
      span {
        opacity: 0.5;
      }
    }
    &-bottom {
      position: relative;
      p {
        box-sizing: border-box;
        margin-top: 0;
        opacity: 0.7;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 1.2em;
        white-space: nowrap;
        margin-right: 50px;
      }
      &-count {
        position: absolute;
        right: 3px;
        bottom: 3px;
        background: $main-color;
        color: #fff;
        font-weight: bold;
        width: 100%;
        min-width: 18px;
        max-width: 18px;
        height: 18px;
        border-radius: 50%;
        font-size: 11px;
        text-align: center;
        line-height: 17px;
        box-shadow: 0 0 0 2px #fff;
      }
    }
  }
}
