.chat-list__item-count{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: $red-light;
    font-size: 14px;
    color: $gray-light;
}