template.main-content__input
	form.main-content__input-area
		.attach
			img(src="../../images/attach.svg" alt="")
		input(type="text" placeholder="Сообщение" name="newMessage")
		.send-message
			img( type="submit" src="../../images/send-message.svg" alt="")
		ul.attach-menu
			li
				img(src="../../images/photo-video.svg")
				span.menu-action Фото или видео
			li
				img(src="../../images/file.svg")
				span.menu-action Файл
			li
				img(src="../../images/location.svg")
				span.menu-action Локация