<div class="bottom__controls">
    <div class="control__inc">
        {{{inc}}}
    </div>
    <div class="control__input"> {{{input}}} </div>
    <div class="control__submit">
        {{{submit}}}
    </div>
</div>
