<div class="top__controls">
    <div class="avatar"> <img src="{{avatar}}" alt="Аватар пользователя {{nick}}"> </div>
    <div class="nick">{{nick}}</div>
    <div class="control__btn">
       {{{btn}}}
    </div>
</div>
