.chat_page {
	box-shadow: 2px 2px 5px lightgrey;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 90%;
	height: 90%;

	.chat {
		width: 70%;
		box-sizing: border-box;
		overflow: auto;
		padding: 0 20px;
	}

	.header_chat {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 54px;
		line-height: 40px;
		font-weight: bold;
		border-bottom: 1px solid lightgrey;

		.user_block {
			display: flex;
			align-items: center;
			font-size: 13px;
		}

		.user_photo {
			height: 35px;
			border-radius: 50%;
			margin-right: 10px;
		}

		.btn_popup {
			width: 19px;
			height: 19px;
			margin-top: 4px;
			margin-right: 15px;
			background-image: url('../../public/icons/dots.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}

	.messages {
		height: 80%;
		margin-top: 5px;
		text-align: center;
		border-bottom: 1px solid #eaeaea;
	}

	.message_date {
		margin-top: 35px;
		margin-bottom: 20px;
	}
}

.input-message {
	display: flex;
	height: 40px;
	margin-top: 10px;
	position: relative;
}

.message-send {
	width: 100%;
	border: none;
	background-color: rgb(239 239 239);
	border-radius: 20px;
	height: 30px;
	padding: 5px 20px;
}

.button-send {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	background-color: #3369f3;
	background-image: url('../../public/icons/arrow.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-left: 20px;
	margin-right: 20px;
}

.form_submit {
	display: flex;
	width: 100%;
}

.select-file {
	display: none;
}

.clip {
	width: 40px;
	height: 40px;
	margin-right: 15px;
}
