.message-box {
  display: flex;
  flex-direction: column;
  gap: 0.2vh;
  width: auto;

  & div:last-child {
    margin-bottom: 3px;
  }

  &__time,
  &__message_type_taken,
  &__message_type_sended,
  &__emoji {
    padding: 5px;
  }

  &__time {
    width: fit-content;
    font-size: $description_font-size;
    border-radius: 8px 8px 0 0;
  }

  &__message_type_taken,
  &__message_type_sended {
    max-width: 75%;
    width: fit-content;
    font-size: $message_font-size;
  }

  &__message_type_taken {
    border-radius: 0 8px 8px 0;
  }

  &__message_type_sended {
    border-radius: 8px 0 0 8px;
  }

  &__emoji {
    width: fit-content;
    border-radius: 0 0 8px 8px;
  }
}
