<form action='#'>
    <h1>Welcom back!</h1>
    <h2>enter your login and password</h2>

    {{> Input type="text" name="email"}}
    {{> Input type="text" name="password"}}


    <div>
        <span>Don't have an account?</span><a href="">Sing up</a>
    </div>
</form>