<main class="login">
  <div class="login__container">
    <form class="login__form">
      <div class="login__form-container">
        <h1 class="login__title">Вход</h1>
        <div class="login__inputs">
          <label class="login__label" for="login-id">Логин</label>
          <input id="login-id" type="text" class="login__input" name="login" />
          <label class="login__label" for="login-password">Пароль</label>
          <input
            id="login-password"
            type="password"
            autocomplete="on"
            class="login__input"
            name="password"
          />
        </div>
        <button class="login__btn">
          <a href="/" class="nav__link">Авторизоваться</a></button>
        <div class="login__link">
          <a href="/signIn" class="login__link-signIn nav__link">Нет аккаунта?</a>
        </div>
      </div>
    </form>
  </div>
</main>