<form class="container container-center">
    {{#> FormAuth caption='Login' ok-text='sign in' cancel-text='Register' ok-page='pageChat'
                  cancel-page='pageRegistration'}}
        <div>
            {{>Input label="Login" type="text" name="login" value='' }}
            {{>Input label="Password" type="password" name="password" value=''  }}
        </div>
    {{/FormAuth}}
</form>
