<div class="container">
    <form class="login-form">
        
        {{>Input label="Логин" name="login"}}
        {{>Input label="Пароль" name="password"}}
        {{>Button label="Вход" type="primary" name="Sign in"}}
        {{>Button label="Нет аккаунта?" type="link" name="Sign up"}}
        {{test}}
    </form>

</div>