

<div class="cards">

<div class="card">
    <section class="section__login">
        {{> Form
            formType="login"
            formHeaderTitle="Добро пожаловать!"
            formFooterTitle='У вас нет аккаунта?'
        }}
    </section>
</div>

<div class="card">
    <section class="section__login">
        {{> Form
            formType="login"
            formHeaderTitle="Sing-in"
            formFooterTitle='У вас нет аккаунта?'
        }}
    </section>
</div>

<div class="card">
    <section class="section__login">
        {{> Form
            formType="login"
            formHeaderTitle="Sing-in"
            formFooterTitle='У вас нет аккаунта?'
        }}
    </section>
</div>

<div class="card">
    <section class="section__login">
        {{> Form
            formType="login"
            formHeaderTitle="Sing-in"
            formFooterTitle='У вас нет аккаунта?'
        }}
    </section>
</div>
</div>