<div class="cards">
    <div class="card">
        <section class="section__login">
            {{> Form
                formType="login_1"
                formHeaderTitle="Вход"
                formFooterTitle='У вас нет аккаунта?'
                formFooterLink='Регистрация'
            }}
        </section>
    </div>

    <div class="card">
        <section class="section__login">
            {{> Form
                formType="login_2"
                formHeaderTitle="Вход"
                formFooterTitle='У вас нет аккаунта?'
                formFooterLink='Регистрация'
            }}
        </section>
    </div>

    <div class="card">
        <section class="section__login">
            {{> Form
                formType="login_3"
                formHeaderTitle="Вход"
                formFooterTitle='У вас нет аккаунта?'
                formFooterLink='Регистрация'
            }}
        </section>
    </div>

    <div class="card">
        <section class="section__login">
            {{> Form
                formType="login_4"
                formHeaderTitle="Вход"
                formFooterTitle='У вас нет аккаунта?'
                formFooterLink='Регистрация'
            }}
        </section>
    </div>
</div>
