.login {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
  }

  &__block {
    width: 340px;

    border-radius: 12px;
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);

    padding: 50px 30px 30px;
  }

  &__title {
    color: var(--black);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }

  &__form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__wrapper-button {
    margin-top: 160px;
  }

  &__wrapper-link {
    display: flex;
    justify-content: center;

    margin-top: 14px;
  }
}
