@import "../../sass/consts.scss";

.popup_login {
  width: 340px;
}

.popup__title {
  margin: 0;
  padding-bottom: 30px;  

  font-size: 20px;

  text-align: center;
  line-height: 20px;
}

.popup__spacer_login {
  height: 150px;
}
