.login {
	width: 100%;
	height: 100vh;
	margin: 0px;
	padding: 20px 40px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__image {
		width: 50%;
		margin: 0px;
		object-fit: contain;
		object-position: center;
		user-select: none;
		pointer-events: none;
	}
}
