<div class="title">
    {{>Button label ="домой" name = "link" type="form_passiv"}}
    <div id="item">
        <h1>Мой чат</h1>
    </div>
</div>

<div class="container">
    <div class="chat-form">
        <div id="chatList">
            <h3>Список Чатов</h3>
            <div class="chatItem">Чат 1</div>
            <div class="chatItem">Чат 2</div>
            <div class="chatItem">Чат 3</div>
            <div class="chatItem">Чат 4</div>
        </div>

        <div id="chat">
            <h3>Чат 1</h3>
            <div id="messages">
                <div class="message">Привет! Как дела?</div>
                <div class="message">Все отлично, спасибо! А у тебя?</div>
                <div class="message">Я тоже в порядке, рад тебя видеть!</div>
            </div>
            {{!-- <input type="text" id="message" placeholder="Введите сообщение..." /> --}}
            {{!-- <button id="send">Отправить</button> --}}
            <div class = "chat-send">
                {{>Input name="message"}}
                {{>Button label = "Отправить" name = "link" type = "form_active"}}
            </div>
        </div>
    </div>
</div>