<div class="modal">
  <div class="modal__dialog">
    <div class="modal__close">
      <a href="#" class="modal__icon">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
      <span class="modal__note">Закрыть</span>
    </div>
    <div class="modal__content chat">
      <div class="modal__sidebar">
        <div class="chat__search search">
          <div class="search">
            <div class="search__icon">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <input type="search" class="search__input" placeholder="Быстрый поиск">
            <div class="search__icon search__icon_right">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="chat__users">
          <ul class="users">
            <li class="users__item users__item_group">
              <div class="users__avatar avatar">
                <a href="#" class="avatar__wrap">
                                        В</a>
              </div>
              <span class="users__note">Вадим</span>
              <div class="users__counter">
                <span class="counter">99+</span>
              </div>
            </li>
            <li class="users__item">
              <div class="users__avatar avatar avatar_online">
                <a href="#" class="avatar__wrap">
                  {{!-- <img class="avatar__img" src="#" width="35" height="35" alt="avatar image"> --}}
                </a>
              </div>
              <span class="users__note">Иван</span>
              <div class="users__counter">
                <span class="counter">3</span>
              </div>
            </li>
            <li class="users__item">
              
              <div class="users__avatar avatar">
                <a href="#" class="avatar__wrap">
                  {{!-- <img class="avatar__img" src="#" width="35" height="35" alt="avatar image"> --}}
                </a>
              </div>
              <span class="users__note">Соня</span>
              <div class="users__counter">
                <span class="counter">6</span>
              </div>

            </li>
            <li class="users__item">
              <div class="users__avatar avatar avatar_online">
                <a href="#" class="avatar__wrap">
                  {{!-- <img class="avatar__img" src="#" width="35" height="35" alt="avatar image"> --}}
                </a>
              </div>
              <span class="users__note">Карсон</span>
              <div class="users__counter">
                <span class="counter">2</span>
              </div>
            </li>
            <li class="users__item">
              <div class="users__avatar avatar">
                <a href="#" class="avatar__wrap">
                  {{!-- <img class="avatar__img" src="#" width="35" height="35" alt="avatar image"> --}}
                </a>
              </div>
              <span class="users__note">Роза</span>
              <div class="counter"></div>
            </li>
            <li class="users__item">
              <div class="users__avatar avatar avatar_online">
                <a href="#" class="avatar__wrap">
                  {{!-- <img class="avatar__img" src="#" width="35" height="35" alt="avatar image"> --}}
                </a>
              </div>
              <span class="users__note">Игорь</span>
              <div class="counter"></div>
            </li>
            <li class="users__item">
              <div class="users__avatar avatar">
                <a href="#" class="avatar__wrap">
                  {{!-- <img class="avatar__img" src="#" width="35" height="35" alt="avatar image"> --}}
                </a>
              </div>
              <span class="users__note">Саня</span>
              <div class="counter"></div>
            </li>
            <li class="users__item">
              <div class="users__avatar avatar">
                <a href="#" class="avatar__wrap">
                  {{!-- <img class="avatar__img" src="#" width="35" height="35" alt="avatar image"> --}}
                </a>
              </div>
              <span class="users__note">Лена</span>
              <div class="counter"></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal__main">
        <div class="chatbox">
          <div class="chatbox__row">
            <div class="head">
              <div class="head__avatar avatar avatar_larger">
                <a href="#" class="avatar__wrap">
                                        В
                                    </a>
              </div>
              <div class="head__title">Вадим</div>
              <div class="head__note">
                <span>8 участников</span>
                <span class="head__icon"></span>
              </div>
            </div>
          </div>
              {{>ListChatmy}}
          <div class="chatbox__row">
            <div class="enter">
              <div class="enter__submit">
                <button class="button button_id_submit" type="submit">
                                  <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                </button>
              </div>
              <div class="enter__textarea">
                {{!-- <textarea name="enterMessage" id="enterMessage" cols="30" rows="2" placeholder="Сообщение"></textarea> --}}
                {{>Input placeholder = "Сообщение" name = "message" type= "enter__textarea"}}
              </div>
              <div class="enter__icons">
                <a href="#" class="enter__icon">
                  <i class="fa fa-paperclip" aria-hidden="true"></i>
                </a>
                <a href="#" class="enter__icon">
                  <i class="fa fa-smile-o" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


</div>