/* @import "normalize.css"; */
/* html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  background-color: silver;
} */

/* .button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color ease 0.2s;
  }
   */

/*   .button:hover,
  button:focus {
    background-color: #4cceea;
    border-radius: 50%;
  } */
  
  .button_id_submit {
    border-radius: 50%;
    height: 38px;
    width: 38px;
    color: grey;
  }
  
  .button_id_submit .fa-paper-plane {
    color: grey;
    transition: color ease 0.2s;
  }
  
  .button_id_submit:hover .fa-paper-plane {
    color: white;
  }
  
  
  /* Icons from Fotnt Awesome */
  
  .search__icon .fa-search {
    color: grey;
    font-size: 18px;
  }
  
  .search__icon .fa-pencil-square-o {
    color: grey;
    font-size: 18px;
  }
  
  
  /* Icons sprite */
  
  .icon-attachment {
    width: 12px;
    height: 20px;
    background-position: -5px -5px;
  }
  
  .icon-smiles {
    width: 16px;
    height: 16px;
    background-position: -5px -61px;
  }
  
  
  /* Modal window */
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .modal__dialog {
    width: 870px;
    position: relative;
  }
  
  .modal__close {
    font-size: 0;
    position: absolute;
    right: 25px;
    top: -30px;
    cursor: pointer;
  }
  
  .modal__icon {
    display: inline-block;
    vertical-align: top;
  }
  
  .modal__icon .fa-times {
    font-size: 18px;
    line-height: 16px;
    color: white;
    display: inline-block;
    vertical-align: top;
  }
  
  .modal__note {
    display: inline-block;
    vertical-align: top;
    margin-left: 9px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .modal__sidebar {
    flex: 0 0 268px;
    background-color: #FBFBFB;
  }
  
  .modal__main {
    flex: 1 1 auto;
  }
  
  .close {
    width: 12px;
    height: 12px;
    position: relative;
  }
  
  .close:before,
  .close:after {
    content: '';
    background-color: #fff;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(45deg) scale(.86667);
  }
  
  .close:before {
    width: 2px;
    height: 18px;
    margin: -9px 0 0 -1px;
  }
  
  .close:after {
    width: 18px;
    height: 2px;
    margin: -1px 0 0 -9px;
  }
  
  
  /* Chat window */
  
  .chat {
    display: flex;
    background-color: white;
    box-shadow: 0 0 32px rgba(0, 1, 3, 0.15);
  }
  
  .chat__search {
    padding: 23px 23px 13px 21px;
  }
  
  .chat__search:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 22px;
    right: 24px;
    height: 2px;
    opacity: 0.25;
    background-color: #b8bbc8;
  }
  
  .chat__users {
    padding: 18px 19px 22px 15px;
  }
  
  
  /* Search block */
  
  .search {
    display: block;
    position: relative;
  }
  
  .search__icon {
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
  
  .search__icon_right {
    right: 0;
    left: auto;
  }
  
  .search__input {
    width: 100%;
    background: none;
    border: none;
    padding: 0 32px;
    line-height: 14px;
    color: #a0a3b1;
    outline: none;
  }
  
  
  /* Users block */
  
  .users {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .users__item {
    display: flex;
    align-items: center;
    padding: 9px 7px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .users__item:hover {
    background-color: #e3e5eb;
  }
  
  .users__avatar {
    flex: 0 0 35px;
  }
  
  .users__note {
    line-height: 18px;
    color: #1E1E1E;
    font-weight: 500;
    margin-left: 16px;
  }
  
  .users__counter {
    padding: 7px 6px;
    border-radius: 9px;
    margin-left: 11px;
    background-color: #b8bbc8;
    min-width: 13px;
    text-align: center;
    flex: 0 0 auto;
  }
  
  .users__item_group .users__avatar {
    background-color: #4cceea;
  }
  
  .users__item_group .users__note {
    color: #4cceea;
  }
  
  .users__item_group .users__counter {
    background-color: #4cceea;
  }
  
  
  /* Chatbox */
  
  .chatbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 530px;
    table-layout: fixed;
    box-sizing: border-box;
    width: 100%;
    padding: 0 26px;
    position: relative;
  }
  
  
  .head {
    display: inline-flex;
    position: relative;
    width: 100%;
    align-items: center;
    padding: 11px 0 13px 0;
  }
  
  .head:after {
    background-color: #edeef1;
    height: 2px;
    width: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
  }
  
  .head__avatar.avatar {
    position: relative;
    background-color: #4cceea;
  }
  
  .head__title {
    color: #5b6171;
    font-size: 18px;
    font-weight: 400;
    margin-left: 21px;
    padding-top: 3px;
  }
  
  .head__note {
    color: #a0a3b1;
    font-size: 14px;
    font-weight: 400;
    margin-left: auto;
    padding-right: 18px;
    padding-top: 3px;
  }
  
  .head__icon {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #d2d4da;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
  }
  
  
  /* enter block */
  
  .enter {
    position: relative;
    padding-top: 12px;
    padding-bottom: 14px;
  }
  
  .enter:before {
    background-color: #edeef1;
    height: 2px;
    width: 100%;
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
  }
  
  .enter__submit {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 38px;
    height: 38px;
    border: 2px solid #e2e3e7;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
  }
  
  .enter__textarea {
    padding-right: 50px;
  }
  
  .enter__textarea textarea {
    width: 100%;
    border: none;
    resize: none;
  }
  
  .enter__icons {
    padding-right: 50px;
    font-size: 0;
    display: flex;
    align-items: center;
    margin-top: 6px;
  }
  
  .enter__icons .fa-paperclip {
    font-size: 16px;
    color: grey;
  }
  
  .enter__icons .fa-smile-o {
    font-size: 16px;
    color: grey;
  }
  
  .enter__icon {
    margin-right: 12px;
  }