$input-background: #f2f2f2;
$input-border-color: #3369f3;
$input-text-color: #1e1e1e;
$input-placeholder-color: #999;
$input-error-color: #f44336;

.input {
    width: 100%;
    margin-bottom: 2em;
    position: relative;

    label {
        text-align: left;
        color: $input-placeholder-color;
        font-size: 0.8em;
        position: absolute;
        top: 0;
        transition:
            top 0.3s ease,
            opacity 0.3s ease;
        margin-bottom: 0.525em;
        opacity: 0;
        display: none;
    }

    input {
        display: block;
        width: 100%;
        padding-bottom: 0.525em;
        border: 0;
        border-bottom: 1px solid $input-border-color;
        color: $input-text-color;
        transition: border-color 0.2s ease-in-out;

        &:focus {
            outline: none;
        }

        :valid + label {
            background-color: red;
        }

        &::placeholder {
            color: $input-placeholder-color;
        }

        &:not(:placeholder-shown) ~ label {
            opacity: 1;
            top: -2em;
            font-size: 0.5em;
            display: block;
        }

        & + .error-email,
        & + .error-password {
            color: $input-error-color;
            font-size: 0.7em;
            margin-bottom: 0.5em;
            position: absolute;
            bottom: 0;
        }
    }
}
