$secondary-color: #f2f2f2;

.input {
    $input-background: $secondary-color;
    $input-border-color: #3369f3;
    $input-text-color: #1e1e1e;
    $input-placeholder-color: #999;
    $input-error-color: #f44336;

    width: 100%;
    margin-bottom: 2em;

    label {
        display: block;
        text-align: left;
        margin-bottom: 5px;
        color: $input-placeholder-color;
        font: inter;
    }

    > input {
        display: block;
        width: 100%;
        padding-bottom: 0.525em;
        border: 0;
        border-bottom: 1px solid $input-border-color;
        color: $input-text-color;
        transition: border-color 0.2s ease-in-out;

        &:focus {
            outline: none;
        }

        & + .error-email,
        & + .error-password {
            color: $input-error-color;
            font-size: 0.7em;
            margin-bottom: 0.5em;
            position: absolute;
            bottom: 0;
        }
    }
}
