.label {
    display: flex;
    // flex-direction: column;
    flex-direction: column-reverse;
    row-gap: 8px;

    width: 100%;

    position: relative;

    &__span {
        font-size: 9px;
        font-weight: 500;
        line-height: 9px;
        color: #999999;

        position: relative;
        top: 0px;

        transition: .2s;
    }

    &__input {
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;

        padding: 0px 0px 7px 0px;

        border: none;
        border-bottom: 1px solid #3369F3;
        background-color: transparent;
        outline: none;

        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 50px white inset;
        }

        &::placeholder {
            color: transparent;
        }

        &:placeholder-shown+.label__span {
            font-size: 13px;
            top: 20px;
        }

        &:focus+.label__span {
            top: 0px;
            font-size: 9px;
        }
    }

    &__error {
        font-size: 8px;
        font-weight: 400;
        line-height: 8px;
        color: #FF2F2F;
    }
}
