<div class='input'>
  <label class='input__container'>
    <input class='input__element' id="{{id}}" type="{{type}}" name="{{name}}" placeholder='{{placeholder}}' {{#if
      disabled}}disabled{{/if}} />
  </label>
</div>