.input,
.uploadFile {
  padding: 12px;
  font-size: 13px;
}

.input__container,
.uploadFile__container {
  display: flex;
  height: 38px;
  flex-direction: column;
  align-content: flex-end;
}

.input__element {
  border: none;
  border-bottom: 1px solid var(--underline-color);
  color: var(--text-color);
  padding-bottom: 8px;
}

.input__element::placeholder {
  color: var(--disable-color);
}

.input__element:focus-visible {
  outline: none;
}

.uploadFile input[type='file'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
