@import "/src/scss/variables";

.input {
  padding: 10px;

  .input__container {
    display: flex;
    flex-direction: column;
    align-content: flex-end;

    .input__label {
      color: $text-secondary-color;
      font-size: 11px;
      font-weight: 500;
      user-select: none;
      padding-left: 15px;
      padding-bottom: 2px;
      text-transform: uppercase;
    }

    .input__element {
      border: 1px solid $main-color;
      border-radius: 15px;
      font-size: 13px;
      font-weight: 500;
      color: var(--text-color);
      padding: 7px 15px;

      &:focus-visible {
        outline: 1px solid $main-color;
      }
    }

    .input__text-error {
      color: $error-color;
      font-size: 10px;
      font-weight: 400;
      display: none;
      padding-left: 15px;
    }
  }
}

.input__error .input__container {
  .input__text-error {
    display: block;
  }

  .input__element {
    color: var(--error-color);
    border-color: $error-color;

    &:focus-visible {
      outline: 1px solid $error-color;
    }
  }
}

