.input {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  &__label {
    margin-bottom: 4px;
    font-size: 10px;
    font-weight: 300;
  }

  &__input {
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid var(--color-blue);
    outline: none;

    &_error {
      border-bottom: 1px solid var(--color-red);
    }
  }
}
