<div class="input {{#if error}}input__error{{/if}}" >
    <label class="input__container ">
        <div class="input__label">{{label}}</div>
        <input
            class="input__element"
            placeholder=""
            type="{{type}}"
            name="{{name}}"
        />
        <div class="input__text-error">{{error}}</div>
    </label>
</div>
