<div class='uploadFile'>
  <label class='uploadFile__container'>
    <input class='uploadFile__element' id="{{id}}" type="file" name="{{name}}" disable='{{disable}}' />
    {{> Text text=' Выбрать файл на компьютере' type='secondary' weight='500' size='medium' underline=true}}
  </label>
</div>