    <main class="index__main">
    <nav class="in__div__navigation">
        <a id="error500">500</a>
        <a id="error404">404</a>
        <a id="chat_list">chat list</a>
        <a id="chat">chat</a>
        <a id="sign_up">sign up</a>
        <a id="profile">profile</a>
    </nav>

    <div class="in__div__sign__in">
        <form class="in__form__sign__in">
            <div class="in__div__login">
                <input type="text" class="in__login" placeholder="login" name="login">
            </div>
            <div class="in__div__password">
                <input type="password" class="in__password" placeholder="password" name="password">
            </div>
            <div class="in__div__button__sign__in">
            </div>
            <div class="in__div__sign__up">
                <a class="in__link__sign__up" href="/sign_up.hbs">Sign up</a>
            </div>
        </form>
    </div>
</main>