html, body 
    height 100% 
    font-family Verdana, Geneva, Tahoma, sans-serif
body
    background-color #1c1c1c

*
    box-sizing border-box

.index
    position absolute
    left 10px
    top 10px
    color brown