<div class="input-with-label{{#if className}} {{ className }}{{/if}}">
  <div class="input-with-label__text">{{ text }}</div>
  {{> Input className="input-field__element" type=type title=title name=name placeholder=placeholder }}
  
</div>
