<div class="changePassword">
  <div class="changePassword_container shadow">
    <div class="changePassword_header">
      {{> Avatar src=src alt=alt }}
    </div>
    <form class="changePassword_form">
      {{> Input placeholder="Старый пароль" name='oldPassword' id='oldPassword' type='password' }}
      {{> Input placeholder="Новый пароль" name='newPassword' id='newPassword' type='password' }}
      {{> Input placeholder="Повторите новый пароль" name='newPassword_2' id='newPassword_2' type='password' }}
    </form>
    <div class="changePassword_actions">
      {{> Button label="Сохранить" type="primary" page="exit" }}
    </div>
  </div>
</div>