.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 162px;

    width: 100%;
    max-width: 510px;

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 97px;

        width: 100%;
    }

    &__avatar {
        display: flex;
        justify-content: center;
    }

    &__img {
        width: 130px;
        height: 130px;

        border-radius: 50%;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        li:last-of-type {
            border: none;
            padding-bottom: 0px;
        }
    }

    &__li {
        list-style-type: none;

        padding-bottom: 10px;
        border-bottom: 1px solid #EAEAEA;
    }

    &__button {
        display: flex;
        justify-content: center;

        button {
            width: 100%;
            max-width: 280px;
        }
    }
}
