$color-blue: #1877f2;
$color-white: #fff;
$color-white-06: rgba(255, 255, 255, 0.6);
$color-light-gray: #ccc;
$color-gray: #777;
$color-dark-gray: #333;
$color-black: #000;
$font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
$background-color-white: #fff;
$background-color-light-gray: #ccc;
$background-color-gray: #777;
$background-color-dark-gray: #333;
$background-color-blue: #1877f2;
$background-color-4: rgb(24, 119, 242, 0.3);
$background-color-pink: pink;
