$base-font-family: Inter, arial, sans-serif;
$base-font-color:               #1C1C1C;

$link-font-color:               #3369F3;
$submit-font-color:             #FFFFFF;
$submit-background-color:       #3369F3;

$main-background-color:         #FFFFFF;
$navigation-background-color:   #FBFBFB;
$navigation-background-color_hover:   #FBFBFB;
$navigation-border-color:       #EAEAEA;

$popup__label-font-color:       #999999;
$popup__input-border-color:     #3369F3;
$popup__input_error-font-color: #FF2F2F;
$popup__error-font-color:       #FF2F2F;

$items-background-color:        #EFEFEF;

$userdata__value-font-color:    #999999;

$chat-contact_current-background-color: #E4EDFD;

$chat-message-font-color:       #1E1E1E;
$chat-message-background-color: #F8F8F8;
$chat-message-background-color-right: #F8F8F8;
