.entrance__button {
  padding: 12px 70px;
  background-color: #3369f3;
  margin-top: 143px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  border: 0px;
  text-align: center;
  border-radius: 8px;
}
