.button {
  padding: 12px 70px;
  width: 280px;
  font-weight: 500;
  font-size: 13px;
  margin-top: 50px;
  margin-left: 116px;
  line-height: 13px;
  color: #fff;
  background-color: #3369f3;
  border: none;
  border-radius: 8px;
}

.button:hover {
  cursor: pointer;
}
