{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "@typescript-eslint"],
  "ignorePatterns": ["dist/**", "server.js", "vite.config.js", "script.js"],
  "rules" : {
    "semi": "warn",
    "quotes": ["warn", "single"],
    "no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": "off",
    "max-len": ["warn", {
			"code": 100
		}],
    "space-before-blocks": "warn",
    "no-multi-spaces": "warn",
    "no-trailing-spaces": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "import/order": ["warn", {
      "newlines-between": "always",
      "pathGroups": [
        {
          "pattern": "@*/**",
          "group": "internal"
        }
      ],
      "groups": ["builtin", "external", "internal", "parent", ["sibling", "index"]],
      "pathGroupsExcludedImportTypes": ["builtin"]
    }]
  }
}
