{
	"extends": "stylelint-config-standard",
	"rules": {
		"color-hex-case": "lower",
		"selector-class-pattern": null,
		"import-notation": "string",
		"media-feature-range-notation": "prefix"
	},
	"ignoreFiles": ["dist/**/*.css", "src/styles/normalize.css"]
}
