.modal {
    // display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);

    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        height: 257px;
        max-width: 340px;
        border-radius: 12px;

        & > div.input {
            color: #8d8d8d;

            input {
                border: 0;
                visibility: hidden;
            }

            label {
                font-size: 1em;
                color: #3369f3;
                display: inline;
                position: relative;
                cursor: pointer;
                text-decoration: underline;
                text-underline-offset: 5px;
            }
        }
    }
}

.error {
    color: #ff2f2f !important;
}
