<div class='modal' id='modal'>
    <div class='modal-content {{errorTitle}}'>
        <h3>{{modalTitle}}</h3>
        {{> Input }}
        {{> Button text='Поменять'}}
        <div class="error">{{errorModalName}}</div>
    </div>
</div>