.modal {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
  padding: 30px;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
