.modal {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
  padding: 30px;
  width: 340px;
}
.modal .modal_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.modal .modal_title {
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 500;
}
.modal .modal_form {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal .modal_form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-overlay.hide {
  display: none;
}
