<div class="not-found-page-wrapper">
    <div class="not-found-page-wrapper__title">404</div>
    <div class="not-found-page-wrapper__message">Не туда попали, упс</div>
    <div class="not-found-page-wrapper__link">
        {{> Link href='/' text='Вернуться к чатам'}}
    </div>
</div>
