//цвета
$lightGray: #F8F8F8;
$gray-300: #EfEfEf;
$gray-400: #E4E4E4;
$placeholder: #959599;
$text: #161616;
$lightText: #616C76;
$white: #FFFFFF;
$blue: #4869C6;
$activeBlue: #4869c6cc;
$lightBlue: #4869c6e6;
$backgroundMain: #F5F5F5;
$titleColor: #0E1114;
$red: #EB2525;
$activeRed: #EB2525cc;
$lightRed: #EB2525e6;
$lightBorder: #CDD5DE;

//шрифт
$ff: 'San Francisco Pro';
$fw: 400;
$fs: 16px;
$lh: 150%;
