$bg: #1c1c1c;
$bg-help: #252525;
$text: #fff;
$text-help: #999;
$acent: #e72933;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $bg;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: row;

  &__index-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__nav {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    a {
      font-size: 30px;
    }
  }

  &__auth-page {
    &.loading {
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        animation: changeContent 0.8s linear infinite;
        display: block;
        content: "⠋";
        font-size: 80px;
      }

      .container {
        display: none;
      }
    }

    @keyframes changeContent {
      10% {
        content: "⠙";
      }

      20% {
        content: "⠹";
      }

      30% {
        content: "⠸";
      }

      40% {
        content: "⠼";
      }

      50% {
        content: "⠴";
      }

      60% {
        content: "⠦";
      }

      70% {
        content: "⠧";
      }

      80% {
        content: "⠇";
      }

      90% {
        content: "⠏";
      }
    }
  }
}
