.button {
  width: 100%;
  padding: 12px 0;
  background: var(--color-blue);
  color: var(--color-white);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button-icon {
  background: none;
  border: none;
  outline: none;
}
