.button {
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    text-align: center;

    color: #fff;

    background-color: #3369F3;
    border: none;
    border-radius: 8px;

    padding: 12px;

    width: 100%;

    cursor: pointer;

    outline: none;
}
