@import '../../styles/_variables.css';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: var(--brand-color);
  border-radius: 8px;
  padding: 12px 20px;
  color: #fff;
  transition: box-shadow .35s;
  cursor: pointer;
  border: none;
  outline: none;

	&:hover {
		box-shadow: 0 0 12px 4px rgba(0 0 0 / 25%);
	}

	&_no-styles {
		padding: 0;
		background: transparent;
		color: var(--black-color);

		&:hover {
			box-shadow: none;
		}
	}

	&_rounded {
		padding: 8px;
		border-radius: 50%;
	}

	&_danger {
		color: var(--danger-color);
	}
}
