@import '../../assets/variables';

.button {
  height: 40px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  background-color: $button-bgcolor;
  color: $button-color;
  border: 0;
  cursor: pointer;
}
