.text {
  color: var(--text-color);
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
}

/* 
  size: 
    - small
    - medium
    - large

  type: 
    - secondary
    - primary
  
  weight: 
    - 300
    - 500
    - 700
*/

.text_primary {
  color: var(--text-color);
}

.text_secondary {
  color: var(--text-secondary-color);
}

.text[data-size='small'] {
  font-size: 12px;
  line-height: 14px;
}

.text[data-size='medium'] {
  font-size: 13px;
  line-height: 15px;
}

.text[data-size='large'] {
  line-height: 20px;
  font-size: 20px;
}

.text[data-weight='300'] {
  font-weight: 300;
}

.text[data-weight='500'] {
  font-weight: 500;
}

.text[data-weight='700'] {
  font-weight: 700;
}

.ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.underline {
  text-decoration: underline;
}
