.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3369f3;
    border: none;
    padding: 0.8em 1.5em;
    color: white;
    font-weight: 400;

    &:hover {
        opacity: 0.75;
    }
}
