<div class = 'chatList'>
    <div class="blockSearchName">
        {{>SearchNameChat}}
    </div>
    <div class="blockListChat">
        {{>ListNameChat}}
    </div>
    <div class="tempListLink">
        {{> TemparyBlockForLinkPRJ}}
    </div>
</div>
