@import '../../assets/variables.scss';

.chatList {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: (12,1fr);
    .blockSearchName {
        grid-area: 1/1/3/2;
        border-bottom: $brd-color-item;    
    }
    .blockListChat {
        padding: 0;
        overflow: auto;
    }
    .tempListLink {
        grid-area: 10/1/13/2;
        border-top: $brd-color-item;
    }
}
