template.profile
    .site-wrapper.profile-view
        a.back-link(href="../index.pug")
            .arrow
                img(src="../../images/back-arrow.svg" alt="")
        .profile__info
            .avatar
            .name Иван

            .field
                label.detail Почта
                label.user__info pochta@yandex.ru
            .field
                label.detail Логин
                label.user__info ivanivanov
            .field
                label.detail Имя
                label.user__info Иван
            .field
                label.detail Фамилия
                label.user__info Иванов
            .field
                label.detail Имя в чате
                label.user__info Иван
            .field
                label.detail Телефон
                label.user__info +7 (909) 967 30 30

            .field
                a.change__info(href="../data-change/data-change.pug") Изменить данные
            .field
                a.change__info(href="../password-change/password-change.pug") Изменить пароль
            .field
                a.exit(href="../index.pug") Выйти
            