@import "../styles/var.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $text;
}

html {
    height:100vh;
    overflow: hidden;
}
body {
    width: 100%;
    height:100vh;
    overflow: hidden;
    min-height: max-content;
    background-color: $bg;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    > * {
        // border: 1px solid green;
    }
    // .app__sidebar {
    // height: 100%;

    //     max-width: max-content;
    // }
    .app__main {
        width: 100%;
        // flex-grow: 3;
    // height: 100%;

    }
}
