@import '../../styles/_variables.css';

.form {
  display: flex;
  flex-direction: column;
	text-align: center;
  gap: 8px;

	&__title {
		font-size: 18px;
		margin-bottom: 35px;
	}

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 12px;
    margin-top: 30px;
  }
}
