mixin form(title, mods)

  //- Принимает:
  //-   title    {string} - form title
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +form('title', 'mods')
          +form-field()
            some html
          +form-field()
            some html

  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' form--' + modsList[i].trim();
      }
    }
    
  form.form(class=allMods)&attributes(attributes)
    if (title)
      h1.form__title= title
    block

mixin form-field(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +form-field()
          some html

  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' form__field--' + modsList[i].trim();
      }
    }

  .form__field(class=allMods)&attributes(attributes)
    block
