@use '../../scss/variables' as *;

.form-container {
  width: 50%;
  margin: auto;
  background-color: $background-color-white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  h2 {
    color: $color-blue;
    margin-top: 0;
  }
}
