<form class="container">
    {{#> FormProfile withButton=true button-text="Save Password" button-page="pageProfile" user=user}}
        {{>InputWide label="Old Password" type="password" name="oldPassword" value=password }}
        {{>InputWide label="New Password" type="password" name="newPassword" }}
        {{>InputWide label="Repeat New Password" type="password" name="repeatPassword" noLine=true }}
    {{/FormProfile}}
</form>
