<div class="container">
    {{#> FormProfile withButton=true button-text="Save Password" button-page="pageProfile" user=user}}
        {{>InputWide label="Old Password" type="password" name="old_password" value=password }}
        {{>InputWide label="New Password" type="password" name="new_password" }}
        {{>InputWide label="Repeat New Password" type="password" name="repeat_password" noLine=true }}
    {{/FormProfile}}
</div>