@import '../../../../styles/_variables.css';

.panel {
  display: flex;
  flex-direction: column;
  background: var(--backgound-light-gray);
  height: 100%;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 12px 14px;
    gap: 20px;
  }

	&-actions {
		display: flex;
		align-items: center;
		gap: 16px;
		width: 100%;

		.input {
			display: flex;
			align-items: center;
			gap: 4px;
			padding: 10px 12px;
			border-radius: 5px;
			background: var(--backgroud-gray);
			flex-grow: 1;
			min-width: 0;
		}

		.button {
			padding: 5px;
		}
	}

  &__delimiter {
    margin: 0 12px;
  }

  &-list {
    flex-grow: 1;
    overflow: auto;

    &__empty {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: var(--text-gray-color);
    }
  }
}
