<div class="message_list">
    <div class="message__head">
        <span class="message__note">{{nameuser}}</span>
        <span class="message__note">{{messageTime}}</span>
    </div>
    <div class="message__base">
        <div class="message__avatar avatar">
            <a href="#" class="avatar__wrap">
            </a>
        </div>
        <div class="message__textbox">
            <span class="message__text">{{messageText}}</span>
        </div>
    </div>
