{{#> layout}}
  <div class="profile-page edit-profile-page">
    <div class="profile-page_back">
      {{> button/back to="/profile"}}
    </div>
    <div class="profile">
      {{> userImage}}
      <div class="profile_username">
        Иван
      </div>

      <form>
      {{#getJsonContext '{
        "items": [
            {
              "title": "Почта",
              "value": "<input type=\"email\" value=\"mail@yandex.ru\" name=\"email\"/>"
            },
            {
              "title": "Логин",
              "value": "<input type=\"text\" value=\"ivanivanov\" name=\"login\"/>"
            },
            {
              "title": "Имя",
              "value": "<input type=\"text\" value=\"Иван\" name=\"first_name\"/>"
            },
            {
              "title": "Фамилия",
              "value": "<input type=\"text\" value=\"Иванов\" name=\"secondName\"/>"
            },
            {
              "title": "Имя в чате",
              "value": "<input type=\"text\" value=\"ivan\" name=\"display_name\"/>"
            },
            {
              "title": "Телефон",
              "value": "<input type=\"text\" value=\"+7 (909) 967 30 30\" name=\"phone\"/>"
            }
        ]
        }'}}
        {{> infoList this}}
      {{/getJsonContext}}

      <div class="profile_buttons">
        {{> button label="Сохранить"}}
      </div>
      </form>
    </div>
  </div>
{{/layout}}

