{{#> layout}}
  <div class="profile-page edit-profile-page">
    <div class="profile-page_back">
      {{> button/back to="/profile"}}
    </div>
    <div class="profile">
      {{> userImage}}
      <div class="profile_username">
        Иван
      </div>

      <form>
      {{#getJsonContext '{
        "items": [
            {
              "label": "Почта",
              "type": "text",
              "name": "email",
              "value": "mail@yandex.ru"
            },
            {
              "label": "Логин",
              "type": "text",
              "name": "login",
              "value": "ivanovivan"
            },
            {
              "label": "Имя",
              "type": "text",
              "name": "firts_name",
              "value": "Иван"
            },
            {
              "label": "Фамилия",
              "type": "text",
              "name": "last_name",
              "value": "Иванов"
            },
            {
              "label": "Имя в чате",
              "type": "text",
              "name": "display_name",
              "value": "Ivan"
            },
            {
              "label": "Телефон",
              "type": "text",
              "name": "phone",
              "value": "+7 (909) 123 45 67"
            }
        ]
        }'}}
        {{> infoList/edit this}}
      {{/getJsonContext}}

      <div class="profile_buttons">
        {{> button label="Сохранить"}}
      </div>
      </form>
    </div>
  </div>
{{/layout}}

