extends ../../layout/layout.pug

block styles
	link(rel="stylesheet" href="./password-change.sass")

block content
	include ../../components/password-change/template.pug
	script(src="../../components/password-change/index.ts")