{{#> Interface }}
<div class="error-page">
    <div class="error-page__content">
        <h1 class="error-page__title">500</h1>
        <h5 class="error-page__subtitle">Мы уже фиксим</h5>
        {{> Link text="назад к чатам" page="login"}}
    </div>
</div>
{{/ Interface }}
