{{>index}}
<main class="sign__up__main">
    <div class="si__sign__up__div">

        <form class="si__sign__up__form">

            <div class="si__data__user__div">
                <input type="email" class="si__data__user__buttons" placeholder="email" name="email">
            </div>

            <div class="si__data__user__div">
                <input type="text" class="si__data__user__buttons" placeholder="first name" name="first_name">
            </div>

            <div class="si__data__user__div">
                <input type="text" class="si__data__user__buttons" placeholder="second name" name="second_name">
            </div>

            <div class="si__data__user__div">
                <input type="text" class="si__data__user__buttons" placeholder="phone" name="phone">
            </div>

            <div class="si__data__user__div">
                <input type="password" class="si__data__user__buttons" placeholder="password" name="password">
            </div>
        
            <input type="submit" class="si__sign__in__button" value="Sign up">

            <div class="si__sign__in__div">
                <a class="si__sign__in__link" href="/index.hbs">Sign in</a>
            </div>
        </form>
    </div>
    </main>