<div class='profile'>
  {{{UserPhoto
    src='../../images/photo_missed.jpg'
    alt='Фото
	пользователя'
    name='Jack'
  }}}
  <form class='container-info'>
    {{#each inputs}}
      {{{InfoInput
        id=''
        type=this.type
        name=this.name
        field=this.field
        disabled=false
      }}}
    {{/each}}
    <div class='btn_wrapper'>
      {{{Button type=this.button.type label='Сохранить'}}}</div>
  </form>
</div>
