$color-1 = #343434
$color-2 = #51b5c5
$color-3 = rgb(56 128 157)

.chat__list__main
    display flex
    height 100%

.chl__contact_with_user
    padding 20px 0
    width 300px
    background-color $color-1
    display flex
    justify-content center
    justify-content space-between
    border-radius 10px
    margin-top 10px
    padding 0 2px

.chl__sign__up__form
    display flex
    flex-direction column
    align-items center

.chl__div__img
    display flex
    align-items center
    justify-content center
    width 50px
    height 50px
    color silver
    border-radius 50%

.chl__user__and__message
    display flex
    flex-direction column
    justify-content flex-start
    flex-grow 1

.chl__list__user__name
    color white

.chl__lastTime__and__countNewMessage
    display flex
    flex-direction column

.chl__div__count__new__message
    text-align center

.chl__last__time__message
    color silver

.chl__count__new__message
    background-color $color-2
    width 20px
    height 20px
    border-radius 50%
    display inline-block
    color $color-1
    font-size 12px
    line-height 1.6

.chl__last__message
    color white

.chl__div__chat
    display flex
    align-items center
    justify-content center
    flex-grow 1
    font-size 20px

.chl__select__chat
    color silver

.chl__div__profile
    text-align right

    a
        color $color-3
