$color-1 = #51b5c5
$color-2 = #343434

.change__img__main
    display flex
    align-items center
    justify-content center
    flex-direction column
    height 100%

.change__data__buttons
    width 180px
    padding 0px
    font-size 18px
    margin-top 20px
    background-color $color-1
    border none
    color $color-2

.chimg__div__user__avatar
    margin-bottom 10px
    width 100px
    height 100px
    border-radius 10px
    background-color $color-2
    display flex
    align-items center
    justify-content center


.chimg__img__user__avatar
    width 90%
    height 90%
    text-align center
    line-height 6em
    color silver
    
.chimg__input__file
.chimg__input__sub
    background-color $color-2
    border none
    margin-top 25px
    color silver
    font-size 20px
