<main class="change__img__main">
    <div class="chimg__div__user__avatar">
        <img src="#" alt="IMG" class="chimg__img__user__avatar">
    </div>
    <div>
        <input type="file" value="new img" class="chimg__input__file">
    </div>
    <div>
        <input type="submit" value="change img" class="chimg__input__sub">
    </div>
</main>