{{>index}}
    <main class="profile__main">
    <div class="pr__div__data__user">
            <div class="pr__data__user__div">
                <input type="email" class="pr__data__user__buttons" placeholder="email" name="email" value="pochta@yandex.ru">
            </div>

            <div class="pr__data__user__div">
                <input type="text" class="pr__data__user__buttons" placeholder="login" name="login" value="Will">
            </div>

            <div class="pr__data__user__div">
                <input type="text" class="pr__data__user__buttons" placeholder="first name" name="first_name" value="William">
            </div>

            <div class="pr__data__user__div">
                <input type="text" class="pr__data__user__buttons" placeholder="second name" name="second_name" value="Holmes">
            </div>

            <div class="pr__data__user__div">
                <input type="text" class="pr__data__user__buttons" placeholder="phone" name="phone" value="+79110000007">
            </div>

            <div class="pr__data__user__div">
                <input type="password" class="pr__data__user__buttons" placeholder="phone" name="phone" value="4123">
            </div>

            <div class="pr__sign__in__div">
                <input type="submit" class="pr__change__data__buttons" name="phone" value="change data">
            </div>

             <div class="pr__sign__in__div">
                <a class="pr__change__img__link">изменить изображение</a>
            </div>

            <div class="pr__sign__in__div">
                <a class="pr__link__exit" href="/index.hbs">выйти</a>
            </div>
    </div>
    </main>