@import '../../styles/_variables.css';

.action-list {
	display: flex;
	flex-direction: column;

	&__item {
		cursor: pointer;

		&:not(:last-child) {
			border-bottom: 1px solid var(--border-gray);
		}

		&:hover {
			background: var(--light-blue-color);
		}

		& > .button {
			padding: 16px;
			width: 100%;
			justify-content: flex-start;
		}
	}
}
