<main class="error-page">
    <div class="error-page__container">
        <span class="error-page__code">
            {{code}}
        </span>
        <span class="error-page__text">
            {{text}}
        </span>
        <a class="error-page__link" href="">
            Назад к чатам
        </a>
    </div>
</main>
