
<div class="chat_item__last_message_status">
    <span class="chat_item__last_message_time">{{lastMessageTime}}</span>
    <div class="chat_item__new_message_counter">
        <div class="new_message_icon"></div>
        <span class="new_message_counter">{{newMessageCounter}}</span>
    </div>
</div>

