<div class="chat-page">
  {{#> ChatList className="chat-page__list" }}
    {{#each (chat-page-list)}}
      {{> ChatItem }}
    {{/each}}
  {{/ ChatList }}
  {{> Link page="LoginPage" text="Назад к логину"}}
</div>
