<li class='form__field'>
  <span class='form__field-caption'>{{ caption }}</span>
  <input class='form__input' type={{ type }} id={{ id }} name={{ id }}></input>
  <span class='form__input-error'></span>
</li>