.error {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .error__number{
        color:var(--red);
        font-weight:bold;
        font-size:40px;
    }
    .error__text{
        color:var(--gray-dark);
        font-weight:bold;
        font-size:18px;
        margin:20px
    }
}




