@import '../../style.scss';

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    color: $gray;

    &__number {
        span {
            font-size: 40px;
        }
    }

    &__text {
        margin-top: 20px;

        span {
            font-size: 20px;
        }
    }

    &__link {
        margin-top: 20px;
        color: $blue;

        &:hover {
            cursor: pointer;
        }

        span {
            font-size: 16px;
        }
    }
}
