<div class="error">
    <h1 class="error__number">{{errorNumber}}</h1>
    <h2 class="error__text">
        Woops!
    </h2>
    <h2 class="error__text">
        {{errorText}}
    </h2>
    {{>Link caption="Go back" page=page  }}
</div>

