<form class="profileFormEditBlock" >

    {{#> ProfileForm/EditInfoItem/EditInfoItem title='Старый пароль'   }}
        {{> Input/InputDefault/InputDefault type='password' placeholder='Старый пароль' name='editLastPassword' value='123456'}}
    {{/ ProfileForm/EditInfoItem/EditInfoItem}}

    {{#> ProfileForm/EditInfoItem/EditInfoItem title='Новый пароль'   }}
        {{> Input/InputDefault/InputDefault type='password' placeholder='Новый пароль' name='editLastPassword' value='123456'}}

    {{/ ProfileForm/EditInfoItem/EditInfoItem}}

    {{#> ProfileForm/EditInfoItem/EditInfoItem title='Повторите новый пароль'   }}
        {{> Input/InputDefault/InputDefault type='password' placeholder='Повторите новый пароль' name='editLastPassword' value='123456'}}

    {{/ ProfileForm/EditInfoItem/EditInfoItem}}

    {{> Button/Button/Button type='subbmit'  text='Сохранить'}}
</form>