<ul>
    <li><a href="#" page = 'login'> login (Вход) </a></li>
    <li><a href="#" page = 'signup'> signup(Регистрация) </a></li>
    <li><a href="#" page = 'chatmy'> Мой чат (Список пользователей и переписка с ними) </a></li>
    <li><a href="#" page = 'page404'> 404 </a></li>
    <li><a href="#" page = 'page500'> 500 </a></li>
</ul>