{{#> layout}}
  <div class="profile-page edit-profile-page edit-password-page">
    <div class="profile-page_back">
      {{> button/back to="/profile"}}
    </div>
    <div class="profile">
      {{> userImage}}
      <div class="profile_username">
        Иван
      </div>

     <form>
      {{#getJsonContext '{
        "items": [
            {
              "label": "Старый пароль",
              "type": "password",
              "name": "oldPassword",
              "value": "123456"
            },
            {
              "label": "Новый пароль",
              "type": "password",
              "name": "newPassword",
              "value": "123456"
            },
            {
              "label": "Повторите новый пароль",
              "type": "password",
              "name": "newPasswordRepeat",
              "value": "123456"
            }
        ]
        }'}}
        {{> infoList/edit this}}
      {{/getJsonContext}}

      <div class="profile_buttons">
        {{> button label="Сохранить"}}
      </div>
     </form>
    </div>
  </div>
{{/layout}}


