{{#> layout}}
  <div class="profile-page edit-profile-page edit-password-page">
    <div class="profile-page_back">
      {{> button/back to="/profile"}}
    </div>
    <div class="profile">
      {{> userImage}}
      <div class="profile_username">
        Иван
      </div>

     <form>
      {{#getJsonContext '{
        "items": [
            {
              "title": "Старый пароль",
              "value": "<input type=\"text\" value=\"********\" name=\"oldPassword\"/>"
            },
            {
              "title": "Новый пароль",
              "value": "<input type=\"text\" value=\"********\" name=\"newPassword\"/>"
            },
            {
              "title": "Повторите новый пароль",
              "value": "<input type=\"text\" value=\"********\" name=\"newPassword\"/>"
            }
        ]
        }'}}
        {{> infoList this}}
      {{/getJsonContext}}

      <div class="profile_buttons">
        {{> button label="Сохранить"}}
      </div>
     </form>
    </div>
  </div>
{{/layout}}


