<div class="message msg__{{type}}">
    <div class="message__media"><img src="{{media}}" alt=""></div>
    <div class="message__text">{{text}}</div>
    <div class="message__time">{{time}}</div>
</div>