@use '../../scss/variables' as *;

.button-submit {
  width: 100%;
  padding: 10px;
  background-color: $background-color-blue;
  color: $color-white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
}

.button-cancel {
  background-color: $background-color-light-gray;
  color: $color-red;
}

.send-button {
  background-color: $color-blue;
  i {
    color: $color-white !important;
  }
}

.button-awesome {
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;

  i {
    font-size: 1.3em;
    color: $color-dark-gray;

    &:hover {
      @keyframes pulse {
        0% {
          transform: scaleX(1) scaleY(1);
        }

        15% {
          transform: scaleX(1.25) scaleY(1.25);
        }

        30% {
          transform: scaleX(1) scaleY(1);
        }

        45% {
          transform: scaleX(1.25) scaleY(1.25);
        }

        60% {
          transform: scaleX(1) scaleY(1);
        }

        75% {
          transform: scaleX(1.25) scaleY(1.25);
        }

        100% {
          transform: scaleX(1) scaleY(1);
        }
      }

      animation: pulse 3s infinite;
    }
  }
}

.disabled {
  background-color: $color-gray;
}

.profile-button,
.create-new-button {
  margin-top: 15px;
}

.pulse {
  animation: pulse 2s infinite;
}
