@use '../../scss/variables' as *;

.button-submit {
  width: 100%;
  padding: 10px;
  background-color: $background-color-blue;
  color: $color-white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.button-awesome {
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  i {
    font-size: 1.3em;
    color: $color-dark-gray;
    // &:hover {
    //   @include pulse(3s, linear, infinite);
    // }
  }
}

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin pulse($duration, $method, $times) {
  @include keyframes(pulse) {
    0% {
      transform: scaleX(1) scaleY(1);
    }
    15% {
      transform: scaleX(1.25) scaleY(1.25);
    }
    30% {
      transform: scaleX(1) scaleY(1);
    }
    45% {
      transform: scaleX(1.25) scaleY(1.25);
    }
    60% {
      transform: scaleX(1) scaleY(1);
    }
    75% {
      transform: scaleX(1.25) scaleY(1.25);
    }
    100% {
      transform: scaleX(1) scaleY(1);
    }
  }
  @include animate(pulse, $duration, $method, $times);
}
