<div class="error-page-wrapper">
    <div class="error-page-wrapper__title">500</div>
    <div class="error-page-wrapper__message">Ошибочка вышла. Уже фиксим</div>
    <div class="error-page-wrapper_link">
        {{> Link href='/' text='Вернуться к чатам'}}
    </div>
</div>
