.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;

    &__header {
        &-img {
            width: 8.125em;
            height: 8.125em;
            border-radius: 50%;
            object-fit: cover;
        }

        &-title {
            font-size: 1.5em;
            margin-bottom: 0;
        }
    }

    &__body {
        width: inherit;
        margin-bottom: 2rem;

        &-info {
            &-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.8em;
                border-bottom: 1px solid #eaeaea;
            }

            &-list:last-child {
                border-bottom: 0;
            }

            &-content {
                color: #999;
            }
        }
    }

    &__footer {
        width: inherit;

        &-actions {
            list-style: none;
            text-align: left;
        }

        &-item {
            padding: 0.8em;
            border-bottom: 1px solid #eaeaea;
        }

        &-item:last-child {
            border-bottom: 0;

            a {
                color: red;
            }
        }
    }
}
