<div class='profile'>
    <div class='profile__header'>
        <img src='' alt='' class='profile__header-img' />
        <h2 class='profile__header-title'>Иван</h2>
    </div>

    <div class='profile__body'>
        <ul class='profile__body-info'>
            <li class='profile__body-info-list'>
                <span class='profile__body-info-name'>Почта</span>
                <span class='profile__body-info-content'>pochta@yandex.ru</span>
            </li>
            <li class='profile__body-info-list'>
                <div class='profile__body-info-name'>Login</div>
                <div class='profile__body-info-content'>ivanivanov</div>
            </li>
            <li class='profile__body-info-list'>
                <span class='profile__body-info-name'>Имя</span>
                <span class='profile__body-info-content'>Иван</span>
            </li>
            <li class='profile__body-info-list'>
                <span class='profile__body-info-name'>Имя в чате</span>
                <span class='profile__body-info-content'>Иван</span>
            </li>
            <li class='profile__body-info-list'>
                <span class='profile__body-info-name'>Телефон</span>
                <span class='profile__body-info-content'>+7 (909) 967 30 30</span>
            </li>
        </ul>
    </div>

    <div class='profile__footer'>
        <ul class='profile__footer-actions'>
            <li class='profile__footer-item'>
                <a class='profile__footer-name' href='#'>Изменить данные</a>
            </li>
            <li class='profile__footer-item'>
                <a class='profile__footer-name' href='#'>Изменить пароль</a>
            </li>
            <li class='profile__footer-item'>
                <a class='profile__footer-name' href='#'>Выйти</a>
            </li>
        </ul>
    </div>
</div>