.user-photo {
	width: 130px;
	height: 130px;
	margin: 0 auto;
	border-radius: 50%;
	margin-top: 100px;
	margin-bottom: 150px;
}
.container-info {
	margin-bottom: 50px;
}

.profile {
	width: 700px;
}
.refers {
	display: flex;
	flex-direction: column;
}
