extends ../../layout/layout.pug

block styles
	link(rel="stylesheet" href="./profile.sass")

block content
	include ../../components/profile/template.pug
	script(src="../../components/profile/index.ts")