<div class='profile'>
    {{> Modal }} 
    {{> Sidebar sidebarImg='/arrow.svg' }}
    <div class="profile__heder">
         {{> ProfileImg profileImgSrc='/not-avatar.svg' }}
    </div>
    
    <div class='profile__body'>
        {{> FormProfile name='test' value='tesat' }}
    </div>
</div>