.profile {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 20px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__nav {
  width: 64px;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-secondary-color);
}
.profile__nav-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-color);
}
.profile__container {
  max-width: 560px;
  width: 100%;
  margin: 60px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
}
.profile__img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: var(--background-element-color);
}
.profile__title {
  margin: 20px 0px 0px 0px;
  font-weight: bold;
	font-style: normal;
	font-size: 32px;
  line-height: 36px;
  color: var(--title-color);
}
.profile__list {
  margin: 30px 0px 0px 0px;
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  flex-grow: 2;
}
.profile__item {
  margin: 0px 0px 12px 0px;
  width: 100%;
  padding: 4px 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}
.profile__item_type_control {
  margin: auto 0px 12px 0px;
}
.profile__item:last-of-type {
  border-bottom: none;
}
.profile__item-caption {
  margin: 0px;
  font-weight: bold;
	font-style: normal;
	font-size: 16px;
  line-height: 20px;
  color: var(--title-color);
}
.profile__item-text {
  margin: 0px;
  font-weight: normal;
	font-style: normal;
	font-size: 16px;
  line-height: 20px;
  color: var(--subtitle-color);
}
.profile__btn {
  margin: 0px;
  border: none;
  background: inherit;
  color: var(--title-color);
  font-weight: bold;
	font-style: normal;
	font-size: 16px;
  line-height: 20px;
  transition: all .3s ease-in-out;
}
.profile__btn:hover {
  cursor: pointer;
  opacity: .7;
}
.profile__btn_color_main {
  color: var(--main-color);
}
.profile__btn_color_secondary {
  color: var(--secondary-color);
}