<div class="container">
    <div class="copy-container center-xy">
        <p>
        <h1>500</h1>
        </p>
        <p>Мы уже фиксим</p>
        <span class="handle"></span>
        {{>Button label="Назад к чатам" type="form_passiv"}}
    </div>
</div>