<main class="error-500">
  <div class="error-500__container">
    <h2 class="error-500__title"><span>500</span> <br /> Мы уже фиксим</h2>
    <a href="/" class="error-500__link nav__link">назад к чатам</a>
  </div>
</main>