<div class="error500">
    <div class="error500__image"></div>
    <div class="error500__title">500</div>
    <div class="error500__description">
        <div class="error500__description__first">
            Internal Server Error
        </div>
        <div class="error500__description__second">
            Мы уже спешим  исправить
        </div>
    </div>
    {{> Button name = "back_to_chats_2" }}
</div>
