<main class="error500">
    <div class="error500__image"></div>
    <h1 class="error500__title">500</h1>
    <div class="error500__description">
        <p class="error500__description__first">
            Internal Server Error
        </p>
        <p class="error500__description__second">
            Мы уже спешим  исправить
        </p>
    </div>
    {{> Button name = "back_to_chats_2" }}
</main>
