<div class="cover">
    <div class="error">
        <h1 class="error__title">
            {{ title }}
        </h1>
        <p class="error__desc">
            {{ desc }}
        </p>
        <a class="error__back" href="../nav/index.hbs">
            Назад к чатам
        </a>
    </div>
</div>