<form class="container">
    {{#> FormProfile withButton=true button-text="Save IUser Profile" button-page="pageProfile" user=user}}
        {{>InputWide label="Email" type="text" name="email" value=email }}
        {{>InputWide label="Login" type="text" name="login" value=login }}
        {{>InputWide label="First Name" type="text" name="first_name" value=first_name }}
        {{>InputWide label="Last Name" type="text" name="second_name" value=second_name }}
        {{>InputWide label="Name in IChat" type="text" name="display_name" value=nameInChat }}
        {{>InputWide label="Phone" type="text" name="phone" value=phone noLine=true }}
    {{/FormProfile}}
</form>
