<div class="signIn_container shadow">
    <form class="signIn_form">
        {{> Input placeholder="Логин" name='login' id='login' }}
        {{> Input placeholder="Пароль" type='password' name='password' id='password' }}
    </form>
    {{> Button label="Авторизоваться" type="primary" page="chat" }}
    {{> Button label="Нет аккаунта ?" type="text" page='signUp' }}
</div>