@use '../../scss/variables' as *;

.messages-header-container {
  display: flex;
  border: 1px solid $color-light-gray;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 5px;
  padding: 10px;
  text-align: left;
  cursor: pointer;

  .avatar-container {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 50px;
    border: 1px solid $color-light-gray;
    position: relative;
    margin: 0;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      border: 1px solid $color-light-gray;
    }

    .name {
      margin-left: 30px;
      font-size: 16px;
    }
  }

  .blue {
    background-color: $background-color-blue;
    color: $color-white;
  }
}

.hidden {
  display: none;
}
