.modal-change {
  padding: 40px 30px;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-change__title {
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}

.modal-change__button {
  margin-top: auto;
}
