@import '../../../../styles/_variables.css';

.messages {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;

    .arrow-link {
      display: none;
    }
  }

  &__title {
    font-weight: 600;
		margin-right: auto;
  }

  &-list {
    flex-grow: 1;
    background: url("../images/chat_fon.png");
    background-size: contain;
    padding: 8px 20px;
    overflow: auto;
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;

    .input {
      flex-grow: 1;
      background: var(--backgroud-gray);
      padding: 12px 20px;
      border-radius: 30px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media (max-width: 768px) {
    &__header .arrow-link {
      display: block;
    }
  }
}
