<div class="chat">
    <div class="chat__header">
        {{> 'avatarButton' text='DM'}}
        <div class="chat__header-content">
            <h3 class="chat__header-title">Dmitriy M</h3>
            <p class="chat__header-text">Was in 20:40</p>
        </div>
        <button class="chat__header-details-button"/>
    </div>
    <div class="chat__main">
        {{> 'chat/dialog' text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur earum eius in ipsum magnam non, omnis placeat quasi quibusdam voluptatem. Blanditiis eos fugiat inventore obcaecati odit porro sunt, totam unde?'}}
        {{> 'chat/dialog' text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur earum eius in ipsum magnam non, omnis placeat quasi quibusdam voluptatem. Blanditiis eos fugiat inventore obcaecati odit porro sunt, totam unde?'}}
    </div>
    <div class="chat__footer">
        <button class="chat__footer-add-button"></button>
        <input class="chat__footer-input">
        <button class="chat__footer-send-button"></button>
    </div>
</div>
