<div class="chat__header">
    {{> 'avatarButton' text='DM'}}
    <div class="chat__header-content">
        <h3 class="chat__header-title">{{name}}</h3>
        <p class="chat__header-text">Was in {{time}}</p>
    </div>
    <button class="chat__header-details-button"/>
</div>