<div class="chat__main">
    {{> 'chat/dialog' text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur earum eius in ipsum magnam non, omnis placeat quasi quibusdam voluptatem. Blanditiis eos fugiat inventore obcaecati odit porro sunt, totam unde?'}}
    {{> 'chat/dialog' text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur earum eius in ipsum magnam non, omnis placeat quasi quibusdam voluptatem. Blanditiis eos fugiat inventore obcaecati odit porro sunt, totam unde?'}}
</div>
