<div class="popup-block">
  <div class="popup-background"></div>
  <form class="popup" id="popup">
    <h2 class="popup-title">{{ title }}</h2>
    {{{ close }}}
    <div class="popup-content">
      {{{ content }}}
    </div>
    {{{ button }}}
  </form>
</div>
