@import '../../../../styles/_variables.css';

.profile-form {
	.fieldset + .fieldset {
		border-top: 1px solid var(--gray-color);
	}

	&__actions {
		display: flex;
		flex-direction: column;
		margin-top: 32px;
	}

	.link {
		padding: 12px 0;
		border-bottom: 1px solid var(--gray-color);

		&:last-child {
			border-bottom: none;
		}
	}

	&__save-btn {
		min-width: 280px;
		margin: 60px auto 0;
	}

	&__exit-btn {
		padding: 12px 0;
		align-self: flex-start;
		color: var(--danger-color);
	}
}
