:root {
  --black-color: #1e1e1e;
  --brand-color: #3369f3;
  --gray-color: #e0e0e0;
  --light-blue-color: #e4edfd;
  --danger-color: #ff2f2f;
  --text-gray-color: #999;
  --backgroud-gray: #efefef;
  --backgound-light-gray: #fbfbfb;
  --border-gray: #eaeaea;
}
