* {
  font-family: var(--font-family);
  color: var(--color-text);
}

html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  height: 100%;
}

h1 {
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

#app {
  height: 100%;
}

.link {
  color: var(--color-blue);
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
}

.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dialog-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  padding: 50px 30px 30px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.dialog-form {
  width: 100%;
  padding-bottom: 16px;
}

