:root {
    --color-blue: #3369f3;
    --color-red: #ff0000;
    --color-light-grey: #eaeaea;
    --color-white: #ffffff;
    --color-grey: #999999;
    --color-light-blue: #e4edfd;
    --color-dirty-white: #efefef;
    --color-close-to-white: #f8f8f8;
    --color-white-panel: #fbfbfb;
}
