.entry {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.entry__container {
    min-width: 370px;
    min-height: 300px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 5%);
}

.entry__title {
    display: block;
    font-size: 24px;
    text-align: center;
    user-select: none;
}

.entry__form {
    display: block;
}

.entry__list {
    margin: 45px 0;
}

.entry__item {
    position: relative;
}

.entry__item:not(:first-child) {
    margin-top: 35px;
}

.entry__error {
    position: absolute;
    left: 0;
    top: -22px;
    color: #df0000;
    font-size: 13px;
}

.entry__choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry__choice-link {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
}

.entry__choice-link:hover {
    text-decoration: underline;
}

.entry__choice-link:active {
    text-decoration: none;
}

.server-error {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 5px 10px;
    color: #fff;
    background-color: #df0000;
    font-size: 20px;
}
