.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.container-center{
    align-items: center;
}

.container-shadow{
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
}

