@import './normalize';
@import './resetCSS';

:root {
  --black: #1e1e1e;
  --blue: #3369f3;
  --gray: #999999;
  --white: #ffffff;
  --red: #f00;
  --pale-gray-10: #fbfbfb;
  --pale-gray-20: #eaeaea;
}

#root {
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 540px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
