@define-mixin dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@define-mixin dialog-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  padding: 50px 30px 30px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

@define-mixin dialog-form {
  width: 100%;
  padding-bottom: 16px;
}
