.profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.profile__sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.profile__back-chat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #ddd;
    user-select: none;
    cursor: pointer;
}

.profile__back-chat svg {
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
}

.profile__container {
    width: 700px;
    min-height: 200px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.profile__avatar {
    margin-bottom: 30px;
}

.profile__avatar-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    margin: 0 auto 15px;
    border-radius: 50%;
    background-color: #eee;
    user-select: none;
    overflow: hidden;
}

.profile__avatar-img {
    width: 100%;
}

.profile__change-box {
    text-align: center;
}

.profile__cross-link,
.profile__change-link {
    font-size: 16px;
    cursor: pointer;
}

.profile__cross-error {
    color: #df0000;
}

.profile__change-avatar {
    font-size: 24px;
}

.profile__cross-link:hover,
.profile__change-link:hover {
    text-decoration: underline;
}

.profile__cross-link:active,
.profile__change-link:active {
    text-decoration: none;
}

.profile__cross-box:not(:first-child) {
    margin-top: 10px;
}

.profile__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    row-gap: 25px;
    column-gap: 10px;
    margin-bottom: 40px;
}

.profile__item {
    position: relative;
    flex-basis: calc(50% - 5px);
}

.profile__label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    user-select: none;
}

.profile__error {
    position: absolute;
    left: 0;
    bottom: -22px;
    color: #df0000;
    font-size: 13px;
}

.profile__avatar-file {
    display: block;
    margin: 40px auto 10px;
}

.profile__avatar-error {
    display: block;
    margin: 0px auto 20px;
    text-align: center;
    font-size: 15px;
    color: #df0000;
}
