* {
    box-sizing: border-box!important;
    color: var(--gray-dark);
    font-size: 14px;
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
}

input, select { width: 100% }

input:focus-visible {
    outline: none;
}
