
.chat {
  display: grid;
  grid-template-columns: 310px auto;
  min-height: 720px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
}

.chat-list {
  padding: 20px 9px 20px 10px;
  background: #FBFBFB;
  border-right: 1px solid #EAEAEA;
}

// will be styled scrollBar
.list-wrapper {
  display: block;
  //max-height: calc(100% - 100px);
  //overflow: auto;
}

.link-to-profile {
  text-align: right;
  margin-bottom: 20px;
  a {
    text-decoration: none;
    display: inline-block;
    color: #999;
    font-size: 12px;
    padding: 5px 15px;
    background: url('../../static/images/arrow.svg') right top 55% / auto no-repeat;
  }
}

.search-bar {
  margin-bottom: 14px;
}

.search-input {
  background: #EFEFEF;
  outline: none;
  transition: ease-in-out 0.3s;
  width: 100%;
  border: 0;
  font-size: 12px;
  padding: 9px 10px 9px 30px;
  border-radius: 5px;
  color: #1E1E1E;
  &::placeholder {
    text-align: center;
  }
}

.list-body{
  height: auto;
}

.item {
  display: grid;
  grid-template-columns: 47px auto;
  padding: 12px 0;
  border-top: 1px solid #EAEAEA;
  text-decoration: none;
  &__avatar {
    width: 47px;
    height: 47px;
    &-icon {
      display: block;
      width: 100%;
      height: 100%;
      background: #efefef;
      border-radius: 50%;
    }

    &-stub {
      display: block;
    }
  }

  &__details {
    padding-left: 10px;
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
    }
  }
  
  &__name {
    max-width: 195px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    color: #1E1E1E;

  }
  &__date {
    font-size: 9px;
    color: #999;
  }
  &__message {
    font-size: 12px;
    max-width: 195px;
    color: #999;
    &-prefix {
      color: #1E1E1E;
    }
  }
  &__unread {
    margin-top: auto;
    font-size: 11px;
    width: 20px;
    height: 20px;
    color: #fff;
    background: #3369F3;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
  }
}

.chat-stub {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stub-text {
  font-size: 12px;
  color: #999;
}
