extends ../../layout/layout.pug

block styles
	link(rel="stylesheet", href="./registration.sass")

block content
	include ../../components/registration/template.pug
	script(src="../../components/registration/index.ts")