form.form
  h1.form__title Sign in

  .form__field
    label.field-text
      span.field-text__name Login:
      span.field-text__input-wrap
        input.field-text__input(type='text', name='login')

  .form__field
    label.field-text
      span.field-text__name Password:
      span.field-text__input-wrap
        input.field-text__input(type='password', name='password')

  .form__field.form__field--accent
    button.btn.btn--w-100.btn--big(type='button') Sign in

  .form__field.t-right
    a.link(href='#') Sign up
