body {
    margin: 0;
    max-width: 1280px;
    max-height: 720px;
    /* background-color: #f0f0f0; */
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 500;
}
.container {
    width: 340px;
    /* height: 450px; */
    margin: 0 auto;
    margin-top: 135px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid;
    border-radius: 12px;
    border-color: #F5F5F5;
}
.row {
    display: flex;
    flex-wrap: wrap;
   
}
.row-2 {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    align-content: flex-end;
   
}
.heading {
    text-align: center;
}
input {
	height: 38px;
    width: 100%;
	/* padding: 6px 10px;  */
	/* background-color: #fff; */
	border: none;
    border-bottom: 2px solid;
    border-color: #3369F3;
	box-shadow: none;
	/* border-radius: 0; */
	outline: none;
}
.column-2 {
    flex: 0 0 100%;
}

label {
    /* display: inline-block;  */
    margin-bottom: 10px;
    font-size: 12px;
    color: #999999;
}
.btn {
	display: inline-block;
	height: 38px;
    width: 100%;
	color: white;
	text-align: center;
    line-height: 38px;
    text-decoration: none;
	background: #3369F3;
	border-radius: 12px;
}
.btn-2 {
	display: inline-block;
	height: 38px;
    width: 100%;
	color:  #3369F3;
	text-align: center;
    line-height: 38px;
    // text-decoration: none;
    border:none;
    background:none; 
	/* background: #3369F3; */
	// border-radius: 12px;
}
.btn-2:hover{
    color: #071f5c;
}