@import '../../consts.scss';

.image-preview {
  margin-top: $small-margin;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  background-color: transparent;
  position: relative;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $circle-border-radius;
}

.button_action {
  @include display-flex();
  position: absolute;
  background-color: transparent;
  color: $light;
  border: none;
  width: $large-icon-size;
  height: $large-icon-size;
  cursor: pointer;
}

.button_add {
  top: 0;
  left: 0;
}

.button_remove {
  top: 0;
  right: 0;
}
