template.authorization
    .modal
        .title Авторизация
        form
            .input
                label(for="login") Логин
                input(type="text" name="login" id="login")
            .input
                label(for="password") Пароль
                input(type="password" name="password" id="password")
            .error
            .modal-bottom
                button Войти
                a(href="../registration/registration.pug") Еще не зарегистрированы?