<div class='container'>
    <a page='Login'>Логин главная</a>
    <a page='LoginError'>Логин неверный логин без пароля</a>
    <a page='LoginErrorPassword'>Логин неверный логин с паролем</a>
    <a page='LoginEmpty'>Логин пустая форма</a>
    <a page='LoginErrorRegistration'>Зарегестрироваться</a>
    <p>---------------------------------------</p>
    <a page='Error404'>404</a>
    <a page='Error505'>505</a>
    <p>---------------------------------------</p>
    <a page='Profile'>Профиль</a>
    <a page='ProfileChangesData'>Изменить данные</a>
    <a page='ProfileChangesPassword'>Изменить пароль</a>
    <a page='ProfileModalFileToLoad'>Загрузить новый аватар</a>
    <a page='ProfileModalFileLoaded'>Файл загружен</a>
    <a page='ProfileModalFileErrorLoad'>Загуризте файл (ошибка)</a>
    <a page='ProfileModalFileError'>Ошибка, попробуйте ещё раз</a>
    <p>---------------------------------------</p>
    <a page='MessengerToChoose'>Выбрать чат</a>
    <a page='Messenger'>Чат</a>
    <a page='Login'>Модульные окна [Функции чата, Добаваить-Удалить
        пользователя]</a>
    <p>---------------------------------------</p>
    <a page='OtherModules'>Остальные модульные окна</a>

</div>