@import "../../variables";

.chat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    min-height: 100vh;
}
.chat__nav {
    width: 400px;
    background-color: $color_blue;
    max-height: 100vh;

}
.chat__content {
    width: calc(100% - 400px);
    max-height: 100vh;
    padding: 20px;
    -webkit-box-shadow: 0 0 10px 0 rgba(211,211,211,1);
    -moz-box-shadow: 0 0 10px 0 rgba(211,211,211,1);
    box-shadow: 0 0 10px 0 rgba(211,211,211,1);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
}

.nav-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 20px;
    height: 80px;
    border-bottom: solid 1px $color_gray;
}
.nav-info__profile-btn {
    height: 40px;
    width: 30px;
    margin-left: 5px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 0 5px 5px;
    svg {
        width: 100%;
        height: 100%;
        path {
            fill: $color_blue2;
        }
    }
    &:hover {
        svg path {
            fill: $color_red;
        }
    }
}

.search {
    width: calc(100% - 35px);
    position: relative;
}
.search__button {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    svg {
        width: 80%;
        height: 80%;
        path {
            fill: $color_blue2;
        }
    }
    &:hover {
        svg path {
            fill: $color_red;
        }
    }
}

.nav-users {
    height: calc(100% - 80px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 0;
    }
}
.nav-user {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background-color: #fff;
    padding: 15px 20px;
    border-bottom: solid 1px $color_gray;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    &:hover {
        background-color: $color_gray2;
    }
}
.nav-user_active {
    background-color: $color_gray2;
    border-bottom: solid 1px $color_blue2;
}
.nav-user__logo {
    width: 50px;
    span {
        width: 50px;
        height: 50px;
        display: block;
        border-radius: 50%;
        background-color: $color_blue;
    }
}
.nav-user__content {
    width: calc(100% - 50px);
    padding-left: 15px;
}
.nav-user__title-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}
.nav-user__title {
    font-weight: 600;
    margin-bottom: 10px;
}
.nav-user__date {
    font-size: 10px;
    margin-top: 3px;
}
.nav-user__text-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.nav-user__text {
    font-size: 12px;
    line-height: 16px;
    width: calc(100% - 20px);
    padding-right: 10px;
    strong {
        font-weight: 600;
    }
}
.nav-user__counter {
    background-color: $color_red;
    color: #ffffff;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.chat-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-bottom: 15px;
    border-bottom: solid 1px $color_blue2;
}
.chat-info__user {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.chat-info__user-title {
    font-weight: 600;
    margin-left: 12px;
}
.chat-info__btn {
    height: 30px;
    background-color: $color_red;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    svg {
        height: 100%;
        width: auto;
        path {
            fill: #ffffff;
        }
    }
    &:hover {
        background-color: $color_blue2;
    }
}

.chat-write {
    padding-top: 15px;
    border-top: solid 1px $color_blue2;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.chat-write__add-btn {
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    svg {
        height: 100%;
        width: auto;
        path {
            fill: $color_blue2;
        }
    }
    &:hover {
        svg path {
            fill: $color_red;
        }
    }
}
.chat-write__send-btn {
    height: 40px;
    width: 40px;
    background-color: $color_red;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    svg {
        width: 90%;
        height: 90%;
        path {
            fill: #ffffff;
        }
    }
    &:hover {
        background-color: $color_blue2;
    }
}
.chat-write__text-block {
    width: 100%;
    padding: 0 16px;
    textarea {
        width: 100%;
        height: 48px;
        resize: none;
        padding: 10px;
        border-color: $color_gray;
        border-radius: 5px;
        outline: none;
        &:focus {
            -webkit-box-shadow: 0 0 5px 0 rgba(1,58,113,0.3);
            -moz-box-shadow: 0 0 50px 0 rgba(1,58,113,0.3);
            box-shadow: 0 0 5px 0 rgba(1,58,113,0.3);
        }
    }
}

.chat-messages {
    height: 100%;
    padding: 32px 0;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 0;
    }
}
.chat-messages__date {
    text-align: center;
    font-weight: 600;
    margin-bottom: 24px;
    color: $color_blue2;
}

.chat-post {
    margin-bottom: 24px;
}
.chat-post_my {
    display: flex;
    justify-content: right;
}
.chat-post__text {
    display: inline-block;
    background-color: $color_gray2;
    padding: 16px;
    border-radius: 5px;
    min-width: 200px;
    max-width: 50%;
    p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.chat-post__text_my {
    background-color: $color_blue;
    position: relative;
    p {
        font-weight: 600;
        width: calc(100% - 20px);
    }
}
.chat-post__date {
    display: flex;
    justify-content: right;
    span {
        font-size: 10px;
        padding: 5px;
        border-radius: 5px;
    }
}
.chat-post__image {
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    img {
        display: block;
        max-width: 100%;
    }
    border: solid 1px $color_gray;
}
.chat-post__image-date {
    position: absolute;
    bottom: 12px;
    right: 12px;
    span {
        background-color: $color_blue;
    }
}
.chat-post_check {
    position: absolute;
    right: 16px;
    bottom: 16px;
    svg {
        width: 16px;
        height: 16px;
        path {
            fill: $color_blue2;
        }
    }
}



