.inputField {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.inputField label {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease all;
  color: #999;
}
.inputField input:focus ~ label {
  top: -20px;
  font-size: 13px;
}
