.profile-page {
    &__wrapper {
        background-color: #fff;
    }
}

.user-profile {
    margin: auto;
    max-width: 542px;
    padding: 8px 16px;

    &__header {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    &__avatar {
        margin: 0 auto;
    }

    &__form {
        margin: 0 auto;
        max-width: 343px;
    }
}

.profile-navigation {
    padding: 20px 16px;
    &__link {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #999999;
        text-decoration: none;
    }
}


.user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 130px;
    height: 130px;
    cursor: pointer;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity .18s;
    }

    &:hover {
        &::before {
            opacity: 1;
        }

        .user-avatar__label {
            opacity: 1;
        }
    }

    &__label {
        position: relative;
        opacity: 0;
        padding: 0 20px;
        text-align: center;
        font-size: 13px;
        color: #fff;
        transition: opacity .18s;
        user-select: none;
    }
}

.change-data-form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__actions {
        margin-top: 12px;
    }
}
