.user-photo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	font-size: 25px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 120px;

	img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin-bottom: 10px;
	}
}
