@import "../../sass/consts.scss";

.chat-message {
  max-width: 400px;
  margin-bottom: 10px;
  padding: 11px;

  text-align: left;

  font-size: 12px;
  color: $chat-message-font-color;

  line-height: 15px;;
  
  border-radius: 0 10px 10px 10px;
  background-color: $chat-message-background-color;
}

.chat-message_right {
  align-self: flex-end;

  border-radius: 10px 10px 0 10px;

  background-color: #E4EDFD;
}

.chat-message__image {
  max-width: 388;
  height: auto;
}

.chat-message_image {
  background-color: $main-background-color;
}
