<label class="input-search">
    <span class="input-search__label">Search...</span>
    <input
        class="input-search__value"
        placeholder=""
        name="{{name}}"
        type="text"
    />
</label>

