<div class = 'tempBlockLinks'>
    {{> Link text = 'Авторизация' page = 'login' }}
    {{> Link text = 'Регистрация' page = 'registration' }}
    {{> Link text = 'Профиль' page = 'profile' }}
    {{> Link text = 'Чаты' page = 'chats' }}
    {{> Link text = 'Страница 404' page = 'page404' }}
    {{> Link text = 'Страница 500' page = 'page502' }}
</div>
