<nav class="navigation">
  <ul class="navigation__list">
    <li class="list-item"><a href="#" page="registration">Регистрация</a></li>
    <li class="list-item"><a href="#" page="chat">Чат</a></li>
    <li class="list-item"><a href="#" page="profile">Профиль</a></li>
    <li class="list-item"><a href="#" page="error">404</a></li>
    <li class="list-item"><a href="#" page="error500">500</a></li>
  </ul>
</nav>
{{#> Dialog }}
  <form class="login-page">
    <div class="login-page__content">
      {{> PageTitle title="Вход" }}
      {{> InputField className="login-page__input" title="Логин" name="login" }}
      {{> InputField className="login-page__input" title="Пароль" name="password" type="password" }}
    </div>
    <div class="login-page__footer">
      {{> Button text="Авторизоваться" page="chat" }}
      {{> Button className="button__white" text="Нет аккаунта?" page="registration" }}
    </div>
  </form>
{{/ Dialog }}
