.selected-chats {
  display: flex;
  flex-direction: row;

  &__avatar {
    width: 70px;
    height: 70px;
    border: 2px solid transparent;
    border-radius: 50%;
    user-select: none;
    transition: transform 0.1ms linear;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.1ms linear;
    }
  }

  img + &__avatar {
    margin-left: -30px;
  }
}
