<div class="message">
  <div class="{{ className }}">
    {{ content }}
    <div class="message__status">
      {{{ time }}}
      {{#if hasStatus}}
        {{#if read}}
          <img src="icons/status_read.svg" alt="status"/>
        {{else}}
          <img src="icons/status_unread.svg" alt="status"/>
        {{/if}}
			{{/if}}
    </div>
  </div>
</div>
