.chatList {
  position: relative;
  overflow-y: auto;
}

.chatList_header {
  position: sticky;
  top: 0;
  height: 65px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 23px;
}

.chatList_body {
  display: flex;
  flex-direction: column;
}
