.main {
  display: grid;
  grid-template-columns: 310px 1fr;
  height: 100%;

  .sidebar {
    height: 100%;
    overflow-y: scroll;
    background: var(--sidebar-bg);
    border-right: 1px solid var(--border);
    scrollbar-width: thin;
    box-sizing: border-box;
  }
}
