.remove-user {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 20px;

	&__title {
		font-size: 18px;
		margin-bottom: 16px;
	}

	&-users {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}
