{{!< base }}

<div class="cover">
    <div class="entry">
        {{> "entry/title" title="Вход" }}
        <form class="entry__container">
            <ul class="entry__list">
                {{#each login_list }}
                    {{> "entry/item" }}
                {{/each }}
            </ul>
            {{> "entry/choice" btn="Авторизоваться" link="Нет аккаунта" href="./register.hbs" }}
        </form>
    </div>
</div>