template.search-line__chat
    .search-line
        input(type="search")
        .search-background
            img(src="../../images/search.svg" alt="")
            span Поиск
        img.search-icon(src="../../images/search.svg" alt="")