.chatDetail {
  position: relative;
  overflow-y: auto;
}

.chatDetail_header {
  position: sticky;
  top: 0;
  height: 55px;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);

  display: flex;
}

.chatDetail_body {
  display: flex;
  flex-direction: column;
}

.chatDetail_footer {
  position: sticky;
  bottom: 0;
  min-height: 55px;
  height: auto;
  padding: 10px;
  border-top: 1px solid var(--border-color);

  display: flex;
}

.chatDetail_user {
  display: flex;
}
