.sidebar {
    &__body {
        width: 8em;
        background-color: #fbfbfb;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-right: 1px solid #eaeaea;
        display: flex;
        align-items: center;
        justify-content: center;

        &-circle {
            height: 50px;
            width: 50px;
            background-color: #3369f3;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-arrow {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
