<div class='sidebar'>
    <div class='sidebar__body'>
        <div class='sidebar__body-circle'>
            <div class='sidebar__body-arrow'>
                <img src='{{sidebarImg}}' alt='{{sidebarImg}}' />
            </div>
        </div>
    </div>
</div>