include ../main-content-wrapper/template.pug
include ../main-content-header/template.pug
include ../main-content-message/template.pug
include ../main-content-input/template.pug
include ../popup/template.pug
