<div class="messenger">
    {{> ChatList list=chat_list}}
    {{#if true}}
        {{> Conversation conversation=conversation}}
    {{^}}
        <span class="messenger__placeholder">Choose a chat to start messaging.</span>
    {{/if}}
</div>
