<div class='messenger'>
    <div class='messenger__left'>
        <div class='messenger__left-header'>
            <div class='messenger__left-profile'>
                <a href='#' class='messenger__left-profile-link'>Профиль</a>
            </div>
            <div class='messenger__left-search'>
                <div class='messenger__left-search-icon'>
                    <svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='24'
                        height='24'
                        viewBox='0 0 24 24'
                    >
                        <path
                            fill='#999999'
                            d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'
                        ></path>
                    </svg>
                </div>
                <img src='/search.svg' alt='' />
                <input
                    class='messenger__left-search-input'
                    type='text'
                    id='search'
                    name='search'
                    placeholder='Поиск'
                />
            </div>
        </div>
        <div class='messenger__left-body'>
            <ul class='messenger__left-list'>
                <li class='messenger__left-item'>
                    <img src='' alt='' class='messenger__left-item-img' />
                    <div class='messenger__left-item-info'>
                        <h3 class='messenger__left-item-title'></h3>
                        <div
                            class='messenger__left-item-text messenger__left-item-text--message'
                        >messege</div>
                    </div>
                </li>
                <li class='messenger__left-item'>
                    <img src='' alt='' class='messenger__left-item-img' />
                    <div class='messenger__left-item-info'>
                        <h3 class='messenger__left-item-title'></h3>
                        <div
                            class='messenger__left-item-text messenger__left-item-text--message'
                        >messege</div>
                    </div>
                </li>
                <li class='messenger__left-item'>
                    <img src='' alt='' class='messenger__left-item-img' />
                    <div class='messenger__left-item-info'>
                        <h3 class='messenger__left-item-title'></h3>
                        <div
                            class='messenger__left-item-text messenger__left-item-text--message'
                        >messege</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class='messenger__right'>
        <div class='messenger__right-header'>
            <div class='messenger__right-avatar'>
                <img
                    class='avatar-img messenger__right-avatar-img'
                    src='/not-avatar.svg'
                    alt='avatar'
                />
                <div
                    class='avatar-title messenger__right-avatar-title'
                >Иван</div>
            </div>
            <div class='messenger__right-settings'>...</div>
        </div>
        <div class='messenger__right-body'>
            <div class='messenger__right-body-in'>
                <p>Привет! Смотри, тут всплыл интересный кусок лунной
                    космической истории — НАСА в какой-то момент попросила
                    Хассельблад адаптировать модель SWC для полетов на Луну.
                    Сейчас мы все знаем что астронавты летали с моделью 500 EL —
                    и к слову говоря, все тушки этих камер все еще находятся на
                    поверхности Луны, так как астронавты с собой забрали только
                    кассеты с пленкой. Хассельблад в итоге адаптировал SWC для
                    космоса, но что-то пошло не так и на ракету они так никогда
                    и не попали. Всего их было произведено 25 штук, одну из них
                    недавно продали на аукционе за 45000 евро.</p>
            </div>
            <div class='messenger__right-body-out'>
                <p>Привет!</p>
            </div>
        </div>
        <div class='messenger__right-footer'>
            <button class='messenger__right-footer-file'>
                <img src='/paperclip.svg' alt='add file' />
            </button>
            <input class='messenger__right-footer-messege' type='text' />
            <button class='messenger__right-footer-send' type='submit'>
                <img src='/arrow-right.svg' alt='send messege' />
            </button>
        </div>
    </div>
</div>