<li class='user'>
    <div class='user__avatar'>
        <img src='../../assets/icons/no-chat-user-avatar.png' alt='аватар юзера'>
    </div>
    <div class='user__info'>
        <span class='user__name'>
            Имя
        </span>
        <p class='user__text'>
            Lorem ipsum dolor sit amet, consectetur adipisicing.
        </p>
    </div>
    <div>
        <span class='user__time'>
            10:49
        </span>
    </div>
</li>
