{{!< layout}}

<div class="fx-center">
    <div class="aln-center fx-col">
        <h1 class="page-404__title mb16">404</h1>
        <p class="page-404__text mb24">Page not found.</p>
        <button class="page-404__button">Back to site</button>
    </div>
    <img class="page-404__image" alt="travolta" src="../asserts/images/travolta.svg"/>
</div>