{{!< desktop }}

<div class="error">
  <div class="error__name">404</div>
  <div class="error__description">Запрашиваемая страница не существует</div>
  <a class="error__link" href="index.hbs">Вернуться назад</a>
</div>