{{!< desktop }}

<div class="error">
  <div class="error__name">505</div>
  <div class="error__description">Сервер столкнулся с неожиданной ошибкой,
    которая<br />
    помешала ему выполнить запрос.
    <br />
    Мы работаем над устранением неисправности.
    <br />
    Попробуйте обновить страницу через некоторое время.
    <br />
    Приносим свои извенения за временные неудобства.</div>
  <a class="error__link" href="index.hbs">Вернуться назад</a>
</div>