---
formData:
    fields: 
        - 
            label: 'Login'
            type: 'text'
            placeholder: 'Enter your login'
        - 
            label: 'Password'
            type: 'password'
            placeholder: 'Enter your password'
    buttons:
        -
            type: 'submit'
            modifier: 'primary'
            text: 'Sign In'
---

<div>
    <head>
        <link rel="stylesheet" href="/src/static/main.scss">
    </head>
    <h1 class="title">Sign In</h1>
    {{> 'form/form' formData }}
    <p>Not registered yet ?</p>
    then your are <a href="./reg.hbs">here</a>
    ...or back to<a href="./">  main page</a>
</div>