{{!< desktop }}

<div class="change-password">
  <button name="avatar" class="change-password__avatar"></button>

  <form name="form" action="" method="get" class="change-password__form">
    <div class="change-password__input_wrapper">
      <label for="oldPassword" class="change-password__description">
        Старый пароль
      </label>
      <input
        name="oldPassword"
        type="password"
        class="change-password__input input"
      />
    </div>

    <div class="change-password__input_wrapper">
      <label for="newPassword" class="change-password__description">
        Новый пароль
      </label>
      <input
        name="newPassword"
        type="password"
        class="change-password__input input"
      />
    </div>

    <div class="change-password__input_wrapper">
      <label for="newPassword_again" class="change-password__description">
        Новый пароль (повторно)
      </label>
      <input
        name="newPassword_again"
        type="password"
        class="change-password__input input"
      />
    </div>
  </form>

  <div class="change-password__buttons-wrapper">
    <a href="profile.hbs" class="button-link">Сохранить</a>
    <a href="profile.hbs" class="button-link">Отмена</a>
  </div>
</div>