extends ../layout/main.pug

block meta
  - const pageName = 'Chats and chat';

  title= pageName
  meta(name='description', content=pageName)

block content

  .chats-and-chat
    aside.sidebar
      .sidebar__f
        form.search
          +field-text({
            mods: 'white, center',
            val: '',
            attrs: {
              name: 'search',
              placeholder: 'search',
            }
          })

      .sidebar__s
        .chats
          each val in [1, 2, 3, 4, 5, 7, 8, 9, 10]
            article.chat(tabindex="0")
              .chat__f
                .avatar
                  img.avatar__img(src="img/avatar-dummy-1.jpg", alt="user name avatar", loading="lazy")
              .chat__s
                .chat__s-f
                  h6.name Chat name
                  time.chat__time 10:45
                .chat__s-s
                  p.chat__last-message last message last message last message last message last message last message

      .sidebar__t
        .user-information
          .user-information__f
            .user-information__f-f
              .avatar
                img.avatar__img(src="img/avatar-dummy-1.jpg", alt="user name avatar", loading="lazy")
            .user-information__f-s
              h6.name User name

          .user-information__s
            button.settings(type="button") ...

    .chat-area
      .chat-area__f
        .chat-area__f-f
          .chat-area__info
            .chat-area__info-l
              .avatar
                img.avatar__img(src="img/avatar-dummy-1.jpg", alt="user name avatar", loading="lazy")
            .chat-area__info-r
              h6.name Chat name

        .chat-area__f-s
          button.settings(type="button") ...

      .chat-area__s
        .messages-area
          .messages-area__f
            .messages-area__conversation
              .messages-area__conversation-received
                .messages-area__conversation-message
                  | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum iste non corrupti molestias. Provident dolorum nostrum quasi id modi cumque doloribus nemo, beatae veritatis rem. Ducimus, amet dicta? Adipisci, corrupti?
                .messages-area__conversation-message
                  | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum iste non corrupti molestias. Provident dolorum nostrum quasi id modi cumque doloribus nemo, beatae veritatis rem. Ducimus, amet dicta? Adipisci, corrupti?

              .messages-area__conversation-sent
                .messages-area__conversation-message
                  | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum iste non corrupti molestias. Provident dolorum nostrum quasi id modi cumque doloribus nemo, beatae veritatis rem. Ducimus, amet dicta? Adipisci, corrupti?


          .messages-area__s
            +field-text({
              mods: 'main',
              attrs: {
                name: 'message',
                placeholder: 'Type a message',
              }
            })
            button.settings(type="button") ...
            button.settings(type="button") ...

      .chat-area__t
