extends ../layout/main.pug

block meta
  - const pageName = 'Chats and chat';

  title= pageName
  meta(name='description', content=pageName)

block content 

  img(src="img/chats-and-chat-cap.jpg", alt="chats-and-chat-cap")
