{{!< desktop }}

<div class="main">
  <a href="sign-in.hbs" class="main__link button-link">Перейти к авторизации</a>
  <a href="404.hbs" class="main__link button-link">Ошибка 404</a>
  <a href="505.hbs" class="main__link button-link">Ошибка 505</a>
</div>