<head>
        <link rel="stylesheet" href="/src/static/main.scss">
</head>

<h1>Chat links</h1>
<nav><ul>
    </li>
    <li><a href="./reg.hbs">Sign up</a></li>
    <li><a href="./auth.hbs">Sign in</a></li>
    <li><a href="./list.hbs">Chat list</a></li>
    <li><a href="./user-settings.hbs">Settings</a></li>
    <li><a href="./error404.hbs">404 Page</a></li>
    </ul>
</nav>