{{!< layout}}

<div class="popup">
    <div class="paper profile">
        {{> "iconButton" image="../asserts/images/arrow-left.svg"}}
        <div class="mb24 jst-center">
            {{> "avatarButton" text="IM" edit=true}}
        </div>
        <div>
            {{> "formInput" title="Name" value="Ilon" image="../asserts/images/edit.svg"}}
            {{> "formInput" title="Surname" value="Mask" image="../asserts/images/edit.svg"}}
            {{> "formInput" title="Login" value="im@yndex.ru" image="../asserts/images/edit.svg"}}
            {{> "formInput" title="Email" value="im@yndex.ru" image="../asserts/images/edit.svg"}}
            {{> "formInput" title="Password" value="******" image="../asserts/images/edit.svg"}}
            {{> "formInput" title="Phone" value="******" image="../asserts/images/edit.svg"}}
        </div>
        {{> "actionButton" text="Log out"}}
    </div>
</div>
