<div class="container">
    <h1>{{title}}</h1>
    <form id="settings-form">
        <div>
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" required />
        </div>
        <div>
            <label for="second_name">Second Name</label>
            <input type="text" id="second_name" name="second_name" required />
        </div>
        <div>
            <label for="display_name">Display Name</label>
            <input type="text" id="display_name" name="display_name" required />
        </div>
        <div>
            <label for="login">Login</label>
            <input type="text" id="login" name="login" required />
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
        </div>
        <div>
            <label for="phone">Phone</label>
            <input type="tel" id="phone" name="phone" required />
        </div>
        <div>
            <label for="avatar">Avatar</label>
            <input type="file" id="avatar" name="avatar" />
        </div>
        <div>
            <label for="oldPassword">Old Password</label>
            <input type="password" id="oldPassword" name="oldPassword" required />
        </div>
        <div>
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" name="newPassword" required />
        </div>
        <button type="submit" class="button">{{buttonText}}</button>
    </form>
</div>
