extends ../layout/main.pug

block meta
  - const pageName = 'Sign in';
  
  title= pageName
  meta(name='description', content=pageName)

block content 

  +form('Sign in')
    +form-field()
      +field-text({
        title: 'Login:',
        attrs: {
          name: 'login',
        }
      })
    +form-field()
      +field-text({
        title: 'Password:',
        attrs: {
          type: 'password',
          name: 'password',
        }
      })
    +form-field('accent')
      +btn('Sign in', 'w-100, big')(type="button")
    +form-field().t-right
      a.link(href="registration.html") Sign up
