<div class="signin">
    <div class="signin__container">
        <header class="signin__title">
            <span class="signin__title__text">{{ title }}</span>
        </header>
        <main class="signin__form">
            {{#each inputs}}
                {{> Input this}}
            {{/each}}
        </main>
        <p class="error__message" id="error__message">Неверный логин или пароль</p>
        <footer>
            {{> Footer footer }}
        </footer>
    </div>
</div>
