{{!< layout}}

<div class="auth">
    <div class="auth__tabs">
        <button class="auth__tab-button auth__tab-button_active">
            Sign Up
        </button>
        <button class="auth__tab-button">
            Sign In
        </button>

    </div>
    <div class="auth__form">
        {{> formInput title="Name"}}
        {{> formInput title="Surname"}}
        {{> formInput title="Email"}}
        {{> formInput title="Login"}}
        {{> formInput title="Phone"}}
        {{> formInput title="Password"}}
    </div>
    <button class="action-button">
        Authorize
    </button>
</div>

