.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  gap: 8px;
  background: $initial_background;
  user-select: none;

  &__title,
  &__link,
  &__input_wrapper {
    width: 400px;
  }

  &__title {
    font-size: $title_font-size;
    text-align: center;
    color: $input_color;
  }

  &__warning {
    font-size: $description_font-size;
    color: hsl(0, 70%, 50%);
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding-bottom: 3px;
    margin-bottom: 5px;
    padding-bottom: 11px;
    gap: 5px;
    border-top: 2px solid $line_color;
    border-bottom: 2px solid $line_color;
  }

  &__input_wrapper {
    display: flex;
    flex-direction: column;
  }

  &__description {
    color: $input_color;
    font-size: $description_font-size;
    margin: 0 0 2px 8px;
  }
}
