<div class="user-image">
  {{#if src}}
    <img src="{{src}}" alt="Изображение пользователя" />
  {{else}}
    <img src="assets/no-image.svg" alt="Изображение пользователя" />
  {{/if}}
  <span>
    Поменять<br />
    аватар
  </span>
</div>
