.signIn_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 24px;
  width: 340px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signIn_form {
  display: flex;
  flex-direction: column;
}

.signIn_header {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.signIn_actions {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
