<main class="signIn">
  <div class="signIn__container">
    <form class="signIn__form">
      <div class="signIn__form-container">
        <h1 class="signIn__title">Регистрация</h1>
        <div class="signIn__inputs">
          <label class="signIn__label" for="signIn-email">Почта</label>
          <input
            id="signIn-email"
            type="email"
            class="signIn__input"
            name="email"
          />

          <label class="signIn__label" for="signIn-id">Логин</label>
          <input
            id="signIn-id"
            type="text"
            class="signIn__input"
            name="login"
          />

          <label class="signIn__label" for="signIn-first-name">Имя</label>
          <input
            id="signIn-first-name"
            type="text"
            class="signIn__input"
            name="first_name"
          />

          <label class="signIn__label" for="signIn-last-name">Фамилия</label>
          <input
            id="signIn-last-name"
            type="text"
            class="signIn__input"
            name="second_name"
          />

          <label class="signIn__label" for="signIn-tel">Телефон</label>
          <input
            id="signIn-tel"
            type="tel"
            class="signIn__input"
            name="phone"
          />

          <label class="signIn__label" for="signIn-password">Пароль</label>
          <input
            id="signIn-password"
            type="password"
            autocomplete="on"
            class="signIn__input"
            name="password"
          />

          <label class="signIn__label" for="signIn-password-check">Пароль (ещё
            раз)</label>
          <input
            id="signIn-password-check"
            type="password"
            autocomplete="off"
            class="signIn__input"
            name="password"
          />

        </div>
        <button class="signIn__btn"><a
            href="/"
            class="nav__link"
          >Зарегистрироваться</a></button>
        <div class="signIn__link">
          <a href="/login" class="signIn__link-signIn nav__link">Войти</a>
        </div>
      </div>
    </form>r
  </div>
</main>