<div class="chat-list__list">
    {{> 'chatList/listItem'
    title='Dmitriy M' time='20:00' message="Какой-то текст" count=4}}
    {{> 'chatList/listItem'
    title='Dmitriy M' time='20:00' message="Какой-то текст" count=4}}
    {{> 'chatList/listItem'
    title='Dmitriy M' time='20:00' message="Какой-то текст" count=4}}
    {{> 'chatList/listItem'
    title='Dmitriy M' time='20:00' message="Какой-то текст" count=4}}
    {{> 'chatList/listItem'
    title='Dmitriy M' time='20:00' message="Какой-то текст" count=4}}
    {{> 'chatList/listItem'
    title='Dmitriy M' time='20:00' message="Какой-то текст" count=4}}
    {{> 'chatList/listItem'
    title='Dmitriy M' time='20:00' message="Какой-то текст" count=4}}
    {{> 'chatList/listItem'
    title='Dmitriy M' time='20:00' message="Какой-то текст" count=4}}
    {{> 'chatList/listItem'
    title='Dmitriy M' time='20:00' message="Какой-то текст" count=4}}
    {{> 'chatList/listItem'
    title='Dmitriy M' time='20:00' message="Какой-то текст" count=4}}
    {{> 'chatList/listItem'
    title='Dmitriy M' time='20:00' message="Какой-то текст" count=4}}
</div>