<div class="chat-list__item">
    {{> 'avatar' text="DM"}}
    <div class="chat-list__item-content">
        <div class="chat-list__item-row">
            <h3>{{title}}</h3>
            <p class="time">{{time}}</p>
        </div>
        <div class="chat-list__item-row">
            <p class="chat-list__item-text">{{message}}</p>
            <div class="chat-list__item-count">{{count}}</div>
        </div>
    </div>
</div>