@use '../../scss/variables' as *;

.tools-container {
  display: flex;
  align-items: center;
  border-radius: 40px;
  border: 1px solid $color-gray;
  margin: 20px;
  justify-content: flex-end;
  border: none;
  outline: none;
  .search-container {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 40px;
    border: 1px solid $color-gray;
    margin-top: 0;
    input {
      flex: 1;
      border: none;
      outline: none;
      padding: 5px;
      border-radius: 40px;
      padding-left: 10px;
    }
  }
}
