@import '../../styles/_variables.css';

.overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	background: var(--black-color);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0 0 0 / 40%);
	transition: opacity 0.5s;
	z-index: 10000;

	.modal {
		position: relative;
		width: 100%;
		max-width: 420px;
		background: #fff;
		padding: 42px 35px 35px;
		margin: 16px;
		border-radius: 12px;
		transition: transform 0.5s;

		&__close-btn {
			position: absolute;
			top: 15px;
			right: 15px;
		}
	}

	&_hidden {
		opacity: 0;

		.modal {
			transform: translateY(200%);
		}
	}
}
