<div class = 'messageItem {{#if authorI}} right {{/if}}'>
    {{#if img}}
    <div class = 'imgMessageItem'>
        <img src={{img}} alt="">
    </div>
    {{/if}}
    <div class = 'textMessageItem'>
        <p>{{message}}</p>
    </div>
    <div class = 'timeMessageItem'>
        <span>{{timeMessage}}</span>
    </div>
</div>
