
    <ul class="message_feed__message_window">
        {{#each messages}}
            <li>
                {{> messenger/messageRow/messageRow this}}
            </li>    
        {{/each}}
    </ul>
