{{> avatar/avatar}}
{{> heading/heading userName}}
{{> profile/profileFormWithoutEditing/profileFormWithoutEditing }}
<div class="profile__links">
    {{> link/link editProfileLink}}
    {{> link/link changePasswordLink}}
    {{> link/link logoutLink}}
</div>
{{> edit-profile/backToLink/backToLink}}
