* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

.container {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-color: rgba(211, 211, 211, 0.05);
}

.login {
    width: 300px;
    height: 650px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px 30px;
}

h1, h2 {
    text-align: center;
    color: rgba(115, 7, 110, 0.73);
    font-family: Arial;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.login input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #FF8DFA6B;
    margin-bottom: 16px;
    outline: none;
    background: transparent;
    height: 30px;
    color: #995596;
    font-size: 15px;
}

.login label {
    color: #FF8DFA6B;
}

.enter-button {
    font-size: 20px;
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    border-radius: 25px;
    background-color: #FF8DFA6B;
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
    background: linear-gradient(90deg, #FF8DFA 0%, #C26CBF 51.15%, #995596 100%);
}

.enter-button:hover {
    background: #FF8DFA;
    cursor: pointer;
}
a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
}






