.chat-item {
  display: flex;
  gap: 8px;
  padding: 16px 24px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  }

  &__avatar {
    align-self: center;
    height: 40px;
    width: 40px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: calc(100% - 48px);
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__chat-name {
    @include font-style($ff, 600, 14px, 20px, $titleColor);
  }

  &__time,
  &__message {
    @include font-style($ff, 400, 14px, 20px, $lightText);
  }

  &__message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 40px);
  }

}