<div class="conversation">
    <div class="conversation__header">
        {{> Avatar color1="#e66465" color2="#9198e5" firstChar="G"}}
        <b>User fullname</b>
        {{> Button type="settings"}}
    </div>
    <div class="conversation__scroll">

    </div>
    <form class="conversation__footer">

    </form>
</div>
