<div class="conversation">
    <div class="conversation__header">
        {{> Avatar user=conversation.user}}
        <b>{{conversation.user.first_name}} {{conversation.user.second_name}}</b>
        {{> Button type="settings"}}
    </div>
    <div class="conversation__scroll">

    </div>
    <form class="conversation__footer">

    </form>
</div>
