<main class="chats">
  <h2>Данная страница находится в разработке/></h2>
  <div class="chats__link">
    <a href="/profile" class="chats__link nav__link">
      Перейти в профиль >
    </a>
  </div>
</main>