<div class="chat-list">
    {{#> FormChatList}}
        {{> ChatItem color1="#e66465" color2="#9198e5" firstChar="G"}}
        {{> ChatItem color1="#f108e5" color2="#264465" firstChar="D" isSelected=true}}
    {{/FormChatList}}
</div>