extends ../../layout/layout.pug

block styles
	link(rel="stylesheet" href="./chats.sass")

block content
	.site-wrapper.left-panel
		aside
			include ../../components/left-panel/template.pug
			script(src='../../components/left-panel/index.ts')

		main
			.text Выберите чат, чтобы отправить сообщение