@import '../../assets/variables.scss';

.chatsPage {
    width: 1280px;
    height: 100vh;
    margin: 0 auto;
    border-left: $brd-color-chats;
    border-right: $brd-color-chats;
    display: flex;
    flex-direction: row;
    box-shadow: $box-shadow;
    .listChatsPage {
        min-width: 30%;
        padding: 0 10px;
        border-right: $brd-color-chats;
        box-shadow: $box-shadow;
    }
    .chatChatsPage {
        padding: 0 10px;
        width: 69%;
    }   
}
