<form class="profile__profile_form_without_editing">
    {{> registration/emailField/emailField}}
    {{> login/loginField/loginField}}
    {{> registration/firstNameField/firstNameField}}
    {{> registration/lastNameField/lastNameField}}
    {{> profile/chatNameField/chatNameField}}
    {{> registration/phoneField/phoneField}}
</form>
    
