<div class = "chatName">
    <div class = 'logoChatName'>
        {{#if ava}}
            <div class="ava">
                <img src={{ava}} alt="">    
            </div>
        {{else}}
            <div class = 'notAva'>
                <p>фото</p>
            </div>
        {{/if}}
    </div>
    <div class = 'nameChatName'>{{name}}</div>
    <div class = 'controlChatName'>
        <span>&#926</span>
    </div>
</div>
