<div class="chat-item {{#if isActive}}chat-item--active{{/if}}">
    <div class="chat-item__image">
        {{> avatar 
            classList="chat-item__user-logo" 
            image=image
        }}
    </div>
    <div class="chat-item__preview">
        <span class="chat-item__title">{{chatName}}</span>
        <div class="chat-item__desc">{{{messagePreview}}}</div>
    </div>
    <div class="chat-item__meta {{#if unreadMessages}}chat-item__meta--has-unread{{/if}}">
        <div class="chat-item__date">{{date}}</div>
        {{#if unreadMessages}}
            <div class="chat-item__alert">
                <span class="badge badge--primary badge--round">
                    {{unreadMessages}}
                </span>
            </div>
        {{/if}}
    </div>
</div>
