<!doctype html>
    <html lang="ru">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover" />
        <meta name="format-detection" content="telephone=no"/>
        <meta name="description" content="общение в чате, отправка сообщений, обмен идеями, добавляй новых друзей"/>
        <meta name="keywords" content="чат, общение, переписка" />
        <title>{{ title }}</title>
        <style lang="scss">
          @import url({{ style }});
        </style>
      </head>
      <body class="zero">
        <main>
          {{> @partial-block }}
        </main>
        </main>
      </body>
    </html>
    