
<form class="registration__registration_form">
    {{> registration/emailField/emailField}}
    {{> login/loginField/loginField}}
    {{> registration/firstNameField/firstNameField}}
    {{> registration/lastNameField/lastNameField}}
    {{> registration/phoneField/phoneField}}
    {{> login/passwordField/passwordField}}
    {{> registration/passwordAgainField/passwordAgainField}}
    {{> registration/registrationButton/registrationButton}}
</form>
