<div class="form-item">
    <h6>{{title}}</h6>
    <div class="form-item__input-container">
        <input type="text" class="form-item__input" value="{{value}}"/>
        {{#if image}}
            <div class="form-item__button-container">
                {{> "iconButton" image=image}}
            </div>
        {{/if}}
    </div>

</div>