<div class="messenger__main__content__left_side">
    <div class="messenger__new_buddy_settings_buttons">
        {{> messenger/newBuddyButton/newBuddyButton }}
        {{> messenger/settingsButton/settingsButton }}
    </div>
    {{> messenger/searchInput/searchInput }}
    {{> messenger/chatList/chatList }}
</div>
<div class="messenger__main__content__right_side">    
    {{> messenger/messageFeed/messageFeed }}
    {{> messenger/senderForm/senderForm }}
</div>
