{{>index}}
<main class="errors__main">
    <div class="er__div__error">
    <span class="er__number">404</span>
    <span class="er__message">Page not found</span>
    <a href="/index.hbs">index</a>
    </div>
</main>