{{>index}}
<main class="errors__main">
    <div class="er__div__error">
    <span class="er__number">500</span>
    <span class="er__message">Internal Server Error</span>
    <a href="/index.hbs">index</a>
    </div>
</main>