$color-1 = #51b5c5

.errors__main
    display flex
    align-items center
    justify-content center
    height 100%

.er__div__error
    display flex
    flex-direction column

    a
        color $color-1

.er__number
    color brown

.er__message
    color silver
