template.main-content__participant
	.main-content__info
		.avatar
		.name Вадим
		.drop-down__icon
			img(src="../../images/drop-down__icon.svg" alt="")
		ul.drop-down__menu
			li(data-action="addUser")
				span.menu-action Добавить пользователя
			li(data-action="removeUser")
				span.menu-action Удалить пользователя
			li(data-action="deleteChat")
				span.menu-action Удалить чат