@import "/src/scss/variables";

.conf-input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px $border-color solid;
  padding-top: 15px;

  &-error {
    border-bottom: 1px $error-color solid;
  }

  &__error {
    position: absolute;
    right: 0;
  }

  * {
    font-size: 18px;
    font-family: SansSerif, serif;
  }

  &__label {
    display: flex;
    align-items: flex-end;
  }

  &__value {
    display: flex;
    align-items: flex-end;
    border: none;
    text-align: right;
    outline:0;
    color: $text-secondary-color;

    &-editable {
      color: $text-color;
    }

  }
}
