<form class="form">
    {{#each fields }}
        {{> 'input/input' this }}
    {{/each}}
    <div class="form-actions">
        {{#each buttons }}
            {{> 'button/button' this }}
        {{/each}}
    </div>
</form>