@import '../../assets/variables.scss';

.itselfChat {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: (12, 1fr);
    .nameItselfChat {
        grid-area: 1 / 1 / 3 / 2;
        background-color: $white-color;
    }
    .historyChat {
        padding: 0;
        overflow: auto;
    }
    .sendItselfChat {
        grid-area: 11 / 1 / 13 / 2;
        background-color: $white-color;
    }   
    .emptyChat {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        p {
            font-size: $font-size-default;
            color: $info-color
        }
    }
    
}
