<form class="edit_profile__profile_form_with_editing">
        {{> uploadAvatar/uploadAvatar}}
        {{> registration/emailField/emailField}}
        {{> login/loginField/loginField}}
        {{> registration/firstNameField/firstNameField}}
        {{> registration/lastNameField/lastNameField}}
        {{> profile/chatNameField/chatNameField}}
        {{> registration/phoneField/phoneField}}
        {{> edit-profile/saveButton/saveButton}}
</form>
