template.main-content__chat-area
	.main-content__chat
		.date 19 июня

template.chat-image__message
	.chat__message.image
		.chat-message__image
			img(src="../../images/chat-image.png" alt="")
		.chat-message__status
			.status
			time.chat-message__time.grey-bg

template.chat-text__message
	.chat__message.text
		.chat-message__text
		.chat-message__status
			.status
				img(src="../../images/message-read.svg" alt="")
			time.chat-message__time
			