.current-dialog {
  .dialog-empty {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid white;
    background-color: #1c1c1c;
    position: sticky;
    z-index: 4;
    top: 0;

    .avatar {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #fff;
      padding: 7px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .nick {
      font-weight: 600;
      font-size: 13px;
      line-height: 13px;
    }

    .control-btn {
      margin-left: auto;
    }
  }

  .bottom-controls {
    position: sticky;
    background-color: #1c1c1c;
    bottom: 0;
    border-top: 1px solid white;
    z-index: 4;
    padding: 12px 0;

    .new-msg-send-form {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;

      h2 {
        display: none;
      }
    }

    .form {
      &__items {
        display: flex;
        flex-grow: 1;
        margin: 0;
        gap: 10px;

        .control-inc input {
          display: none;
        }

        .control-input {
          flex-grow: 1;

          input {
            background: #252525;
            border: 1px solid #e72933;
            border-radius: 30px;
            padding: 7px 20px;
            width: 100%;
          }

          .error {
            display: none;
          }
        }
      }
    }
  }

  .dialog-window {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .message {
      position: relative;
      width: fit-content;
      max-width: 45%;
      background: #252525;
      border-radius: 10px;
      padding: 11px;
      overflow: hidden;

      .message-media {
        margin-top: -11px;

        img {
          width: calc(100% + 22px);
          margin-left: -11px;
          margin-bottom: -27px;

          // height: calc(100% + 31px);
        }
      }

      .message-text {
        margin-bottom: 5px;
      }

      .message-send {
        position: relative;
        z-index: 2;
        float: right;
        width: max-content;
        font-weight: 500;
        font-size: 9px;
        line-height: 9px;
        text-align: right;
        color: #999;
        background: rgb(82 82 82 / 50%);
        border-radius: 30px;
        padding: 2px 7px;

        .read-status {
          display: none;
          width: 9px;
          height: 4px;
          background: url("../../assets/icon/read.svg") no-repeat center;
        }
      }

      &.msg-out {
        align-self: flex-end;

        .message-send {
          .read-status {
            display: inline-block;
            margin-right: 3px;
            width: 9px;
            height: 4px;
            background: url("../../assets/icon/read.svg") no-repeat center;
            filter: grayscale(1);

            &.read-true {
              filter: none;
            }
          }
        }
      }

      &.msg-text.msg-media {
        .message-text {
          margin-bottom: 20px;
        }
      }
    }

    .dialog-dategroup {
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      color: #999;
    }
  }

  &.loading {
    display: flex;
    justify-content: center;
    align-items: center;

    .top-controls,
    .dialog-window,
    .bottom-controls {
      display: none;
    }

    &::after {
      animation: change-content 0.8s linear infinite;
      display: block;
      content: "⠋";
      font-size: 80px;
    }
  }

  &.loading-old-msg {
    .dialog-window {
      &::before {
        animation: change-content 0.8s linear infinite;
        display: block;
        content: "⠋";
        font-size: 80px;
        text-align: center;
      }
    }
  }

  @keyframes change-content {
    10% {
      content: "⠙";
    }

    20% {
      content: "⠹";
    }

    30% {
      content: "⠸";
    }

    40% {
      content: "⠼";
    }

    50% {
      content: "⠴";
    }

    60% {
      content: "⠦";
    }

    70% {
      content: "⠧";
    }

    80% {
      content: "⠇";
    }

    90% {
      content: "⠏";
    }
  }
}
