@charset "UTF-8";
.current-dialog .dialog-empty {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-dialog .top-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid white;
  background-color: #1c1c1c;
  position: sticky;
  z-index: 4;
  top: 0;
}
.current-dialog .top-controls .avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fff;
  padding: 7px;
}
.current-dialog .top-controls .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.current-dialog .top-controls .nick {
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
}
.current-dialog .top-controls .control-btn {
  margin-left: auto;
}
.current-dialog .bottom-controls {
  position: sticky;
  background-color: #1c1c1c;
  bottom: 0;
  border-top: 1px solid white;
  z-index: 4;
  padding: 12px 0;
}
.current-dialog .bottom-controls .new-msg-send-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.current-dialog .bottom-controls .new-msg-send-form h2 {
  display: none;
}
.current-dialog .bottom-controls .form__items {
  display: flex;
  flex-grow: 1;
  margin: 0;
  gap: 10px;
}
.current-dialog .bottom-controls .form__items .control-inc input {
  display: none;
}
.current-dialog .bottom-controls .form__items .control-input {
  flex-grow: 1;
}
.current-dialog .bottom-controls .form__items .control-input input {
  background: #252525;
  border: 1px solid #e72933;
  border-radius: 30px;
  padding: 7px 20px;
  width: 100%;
}
.current-dialog .bottom-controls .form__items .control-input .error {
  display: none;
}
.current-dialog .dialog-window {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.current-dialog .dialog-window .message {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 45%;
  background: #252525;
  border-radius: 10px;
  padding: 11px;
  overflow: hidden;
}
.current-dialog .dialog-window .message .message-media {
  margin-top: -11px;
}
.current-dialog .dialog-window .message .message-media img {
  width: calc(100% + 22px);
  margin-left: -11px;
  margin-bottom: -27px;
}
.current-dialog .dialog-window .message .message-text {
  margin-bottom: 5px;
}
.current-dialog .dialog-window .message .message-send {
  position: relative;
  z-index: 2;
  float: right;
  width: -moz-max-content;
  width: max-content;
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  text-align: right;
  color: #999;
  background: rgba(82, 82, 82, 0.5);
  border-radius: 30px;
  padding: 2px 7px;
}
.current-dialog .dialog-window .message .message-send .read-status {
  display: none;
  width: 9px;
  height: 4px;
  background: url("../../assets/icon/read.svg") no-repeat center;
}
.current-dialog .dialog-window .message.msg-out {
  align-self: flex-end;
}
.current-dialog .dialog-window .message.msg-out .message-send .read-status {
  display: inline-block;
  margin-right: 3px;
  width: 9px;
  height: 4px;
  background: url("../../assets/icon/read.svg") no-repeat center;
  filter: grayscale(1);
}
.current-dialog .dialog-window .message.msg-out .message-send .read-status.read-true {
  filter: none;
}
.current-dialog .dialog-window .message.msg-text.msg-media .message-text {
  margin-bottom: 20px;
}
.current-dialog .dialog-window .dialog-dategroup {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #999;
}
.current-dialog.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-dialog.loading .top-controls,
.current-dialog.loading .dialog-window,
.current-dialog.loading .bottom-controls {
  display: none;
}
.current-dialog.loading::after {
  animation: change-content 0.8s linear infinite;
  display: block;
  content: "⠋";
  font-size: 80px;
}
.current-dialog.loading-old-msg .dialog-window::before {
  animation: change-content 0.8s linear infinite;
  display: block;
  content: "⠋";
  font-size: 80px;
  text-align: center;
}
@keyframes change-content {
  10% {
    content: "⠙";
  }
  20% {
    content: "⠹";
  }
  30% {
    content: "⠸";
  }
  40% {
    content: "⠼";
  }
  50% {
    content: "⠴";
  }
  60% {
    content: "⠦";
  }
  70% {
    content: "⠧";
  }
  80% {
    content: "⠇";
  }
  90% {
    content: "⠏";
  }
}/*# sourceMappingURL=dialogActive.css.map */