template.left-panel__item
    .left-panel__container
        .chat
            .chat__avatar
            time.chat__time
            .chat__author
            .chat__message
            .chat__unread-count
        .chat__separate-line

template.left-panel__results
    .search-results

template.left-panel__result
    .left-panel__wrapper
        .search-result
            .search-result__avatar
            time.search-result__time
            .search-result__author
            .search-result__message
            .search-result__unread-count
        .search-result__separate-line