@import '../../style.scss';

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__button {
    background-color: $blue;
    color: $white;
    font-size: 14px;
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 269px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #285bd6;    
    }
}

.footer__link {
    margin-top: 10px;
    color: $blue;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: #285bd6;
    }
}
