{{> Backspace}}
<div class="profile-page">
  <div class="user-image"></div>
  <div>
    {{> PageTitle title="Иван"}}
    {{> UserData name="Почта" value="yandex@pochta.ru"}}
    {{> UserData name="Логин" value="ivanivanov"}}
    {{> UserData name="Имя" value="Иван"}}
    {{> UserData name="Фамилия" value="Иванов"}}
    {{> UserData name="Имя в чате" value="Иван Иванов"}}
    {{> UserData name="Телефон" value="+7 999 212 85 06"}}
    <div class="options-wrap">
      {{> UserOption text='Изменить данные'}}
      {{> UserOption text='Изменить пароль'}}
      {{> UserOption className="user-option__red" text='Выйти'}}
    </div>
  </div>
</div>



