{{#> Container}}
    <div class="form-wrapper">
        {{> Title text='Сменить пароль'}}
        <form class="form-wrapper__form">
            {{> Input type='password' label='Старый пароль' name='oldPassword'}}
            {{> Input type='password' label='Навый пароль' name='newPassword'}}
            <div class="form-wrapper__form-footer">
                {{> Button text='Сменить пароль'}}
            </div>
        </form>
    </div>
{{/ Container}}
