.search {
	margin: 0px;
	width: 100%;
	height: 40px;
	padding: 0px 12px 0px 32px;
	box-sizing: border-box;
	position: relative;
	display: flex;
	align-items: center;
	background: var(--background-element-color);
	border-radius: var(--border-radius);
	&::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 8px;
    width: 16px;
    height: 16px;
    background-image: url('../../../static/icons/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
	&-input {
		margin: 0px;
		width: 100%;
		padding: 0px;
		background: inherit;
		border: none;
		outline: none;
		font-weight: normal;
		font-style: normal;
		font-size: 16px;
		line-height: 16px;
		color: var(--title-color);
		&::placeholder {
			font-size: 14px;
			line-height: 16px;
			color: var(--subtitle-color);
		}
	}
}