.chat-area
  | !{chatInfo}

  .chat-area__s
    .messages-area
      .messages-area__f
        .messages-area__conversation!= conversation

      .messages-area__s
        .messages-area__s-inner!= fieldMessage
