.redirect-link {
    color: var(--color-blue);
    font-size: 11px;
}

.button__submit {
    height: 37px;
    background-color: var(--color-blue);
    width: 100%;
    border: none;
    border-radius: 8px;
    color: var(--color-white);
}
