.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 20px;

    &__submit {
        height: 37px;
        background-color: #3369F3;
        width: 100%;
        border: none;
        border-radius: 8px;
        color: #ffffff;
    }

    &__redirect-link {
        color: #3369F3;
        font-size: 11px;
    }
}
