<main class="error-404">
  <div class="error-404__container">
    <h2 class="error-404__title"><span>404</span> <br /> Не туда попали</h2>
    <a href="/" class="error-404__link nav__link">назад к чатам</a>
  </div>
</main>