{{#> Interface }}
<div class="not-found-page">
    <div class="not-found-page__content">
        <h1 class="not-found-page__title">404</h1>
        <h5 class="not-found-page__subtitle">Не туда попали</h5>
        {{> Link text="назад к чатам" page="login"}}
    </div>
</div>
{{/ Interface }}
