<main class="error404">
    <div class="error404__image"></div>
    <h1 class="error404__title">404</h1>
    <div class="error404__description">
        <p class="error404__description__first">
            Not Found
        </p>
        <p class="error404__description__second">
            Тут ничего нет
        </p>
    </div>
    {{> Button name = "back_to_chats_2" }}
</main>
