form#userSettingsForm.user-settings__form
  ul.user-settings__list
    li.user-settings__list-item!= currentPassword
    li.user-settings__list-item!= newPassword
    li.user-settings__list-item!= repeatNewPassword
    li.user-settings__list-item.form__field--error!= errorText
