<div class="info-bar">
    <h2 class="info-bar__title">

        {{{ Avatar avatar = avatar size = "big" status= "online" name = getDisplayName }}}
        <p class="info-bar__username">{{getDisplayName}}</p>
    </h2>
    {{{ Button data="setting" ref="setting" onClick = onSettings}}}
</div>
