<div class="info-bar">
    <h2 class="info-bar__title">

        {{{ Avatar data = "aladzuey" }}}
        <p class="info-bar__username">{{userName}}</p>
    </h2>
    {{{ Button data="setting" ref="setting"}}}
</div>
