@import '../../../../styles/_variables.css';

.profile-fieldset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  &__input {
    text-align: end;
    color: var(--text-gray-color);

    &:disabled {
      cursor: not-allowed;
    }
  }
}
