<div class='error-page'>
  <figure class='error-page__figure'>
    <img class='error-page__img' src={{ img }} alt='Изображение ошибки' />
    <p> </p>
    <figcaption class='error-page__caption'>{{ title }}</figcaption>
  </figure>
  <a class='error-page__link' href={{link.url}}>{{link.text}}</a>
</div>