.messenger {
  display: grid;
  grid-template-columns: 310px 1fr;
  height: 100%;

  .sidebar {
    height: 100%;
    overflow-y: scroll;
    background: var(--sidebar-bg);
    border-right: 1px solid var(--border);
    scrollbar-width: thin;
    box-sizing: border-box;

    &__top-block {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 22px;
      padding: 14px 10px;

      .back-btn {
        color: var(--color-gray);
      }
    }
  }
}
