<div class="container container-center">
    <div class="container-all">
        {{#> AllComponents}}

            {{>InputShort label="Login" type="text" name="login" }}

        {{/AllComponents}}
    </div>

</div>
<!--
{{#> Modal caption="Load IFile" ok-text='Save'}}
    <div>Ok</div>
{{/Modal}}-->


