@import "../../variables";

.page-error {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  background-color: $color_blue;
  padding: 24px 0;
}
.page-error__title {
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.page-error__text {
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 40px;
}
.page-error__link {
  text-align: center;
  a {
    font-size: 14px;
    text-decoration: none;
    color: $color_blue2;
    &:hover {
      color: $color_red;
    }
  }
}