// shadow
$box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.23);


// color prj
$white-color: #fff;
$btn-bccolor: #3369F3;
$link-color: #3369f3;
$label-color: #000;
$info-color: #999;
$search-bg-color: #efefef;
$active-chat: #83a5d1;
$chat-fone-color: #e4edfd;


$brd-color: 1px solid #efefef;
$brd-color-chats: 1px solid #83a5d1;
$brd-color-item: 1px solid #1d5f74;


$font-size-small: 12px;
$font-size-default: 16px;
$font-size-medium: 20px;
$font-size-lagrge: 26px;
