.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;

  &__text {
    display: none;
    position: absolute;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &:hover {
    &__text {
      background: var(--hover-bg);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
