.avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  &--symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    vertical-align: middle;
    font-weight: 600;
    font-size: 1.25rem;
  }
}
