<div class="avatar">
  <img src="{{ photo }}" alt="profile photo" class=" {{ className }}">
  <div class="plug">
    <div class="circle"></div>
    <span class="avatar-text">
      Change avatar
    </span>
  </div>
</div>
