<div class="profile-avatar">
  <img src="{{ photo }}" alt="profile photo" class="profile-photo {{ className }}">
  <div class="place-holder">
    <p class="avatar-text">
      Change avatar
    </p>
    <div class="frame"></div>
  </div>
</div>
