<div class="{{ className }}">
  <img src="{{ photo }}" alt="profile photo" class="profile-photo {{ className }}">
  <div class="plug">
    <span class="avatar-text">
      Change avatar
    </span>
    <div class="circle"></div>
  </div>
</div>

