.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
        text-align: center;
    }

    &__space {
        height: 15px;
    }
}
