<div class="container">
    <form class="signup-form">
        
        {{>Input label = "Имя" name = "first_name"}}
        {{>Input label = "Фамилия" name = "second_name"}}
        {{>Input label = "Логин" name = "login"}}
        {{>Input label = "Почта" name = "email"}}
        {{>Input label = "Пароль" name = "password"}}
        {{>Input label = "Пароль (еще раз)" name = "password again"}}
        {{>Button label = "Зарегистрироваться" name = "Sign up" type = "form_active"}}
        {{>Button label = "Войти" name = "Sign in" type="form_passiv"}}
        {{test}}
    </form>

</div>