<div class = 'addMessage'>
    <div class = 'addFile'>
        <span>&#x2295</span>
    </div>
    <div class = 'message'>
        <input type="text">
    </div>
    <div class = 'sendMessage'>
        {{>Button text = 'Отправить' }}
    </div>
</div>
