@import '../../assets/variables.scss';

.addMessage {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    border-top: $brd-color-chats;
    padding: 10px 0;
    .addFile {
        grid-area: 1/1/2/2;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            font-size: $font-size-lagrge; 
            &:hover {
                cursor: pointer;
            }
        }
    }
    .message {
        grid-area: 1/2/2/10;
        display: flex;
        align-items: center;
        input {
            margin: 0 20px;
            line-height: $font-size-lagrge;
            width: 100%;
        }
    }
    .sendMessage {
        grid-area: 1/10/2/11;
    }
}
