<div class = 'notFoundPage'>
    <div class = 'errorNotFound'>
        {{>Title title = '404'}}
    </div>
    <div>
        <p>Страница не найдена</p>
    </div>
    <div>
        {{>Link text = 'Назад' page = 'login'}}
    </div>
</div>
