<div class = 'badGatewayPage'>
    <div class = 'errorBadGatewayPage'>
        {{>Title title = '500'}}
    </div>
    <div>
        <p>Мы уже чиним</p>
    </div>
    <div>
        {{>Link text = 'Назад' page = 'login'}}
    </div>
</div>
