@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap';

:root {
    --darkBlue: rgb(9, 9, 80);
    --white: #d8d8e7;
}

* {
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
}

body {
    font-family: 'Poppins';
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:  var(--darkBlue);
}
.container {
    background-color:  var(--darkBlue);
}


h1, h2, h3, h4, h5, h6{
    text-decoration: none;
    padding: 0;
    margin: 0;
  }

.menu{
        
    margin: 0 auto;
    padding: 0;
    list-style: none;

    &__item {
        display: block;
    };
    
    &__link {   
        color: aqua;
    text-decoration: none;

        &:hover {
            color: whitesmoke;
            text-decoration: underline;
        }
    }
}
  
input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
    border: none;
}
