<form class="edit_password__form">
        {{> edit-password/oldPasswordField/oldPasswordField}}
        {{> edit-password/newPasswordField/newPasswordField}}
        {{> registration/passwordAgainField/passwordAgainField }}
        {{> edit-profile/saveButton/saveButton}}
    </form>

    