@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import "variables";


* {
  box-sizing: border-box;
  transition: $anim;
  font-family: 'Open Sans', sans-serif !important;
}

::-webkit-input-placeholder {color:$color_gray;}
::-moz-placeholder          {color:$color_gray;}
:-moz-placeholder           {color:$color_gray;}
:-ms-input-placeholder      {color:$color_gray;}

body {
  font-size: 14px;
}
.input-text {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0 15px;
  &:focus {
    -webkit-box-shadow: 0 0 5px 0 rgba(1,58,113,0.3);
    -moz-box-shadow: 0 0 50px 0 rgba(1,58,113,0.3);
    box-shadow: 0 0 5px 0 rgba(1,58,113,0.3);
  }
}
.input-button {
  width: 100%;
  background-color: $color_blue2;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: $color_red;
  }
}

.temp-nav {
  position: absolute;
  z-index: 3;
  background-color: rgba(0,0,0,0.05);
  width: 250px;
  left: calc(50% - 125px);
  padding: 10px;
}
.temp-nav__title {
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 10px;
  font-size: 12px;
  &:hover {
    text-decoration: none;
  }
}
.temp-nav__items {
  a {
    display: block;
    color: black;
    font-size: 12px;
    &:hover {
      text-decoration: none;
    }
  }
}