$gray: #999999;
$orange: #FF7E2D;
$black: #000000;
$blue: #3369F3;
$red: #FF0000;
$devider: #EAEAEA;
$button: #3369F3;
$white: #FFFFFF;
$inputFon: #f5f5f5;
$grayChatMessage: #F8F8F8;
$blueChatMessage: #E4EDFD;
$circleChat: $blue;
$firstName: #1E1E1E;
$sideBar: #FBFBFB;

body {
    background-color: $white;
    height: 100vh;
    font-family: 'Inter', 'Medium';
    padding: 0;
    margin: 0;
}

.error__message {
    display: none;

    &-visible {
        color: $red;
        display: block;
        font-size: 12px;
        padding: 0;
        margin: 0;
        justify-self: center;
    }
}
