$button-color: #3369f3;
$button-hover: #4C79F5;
$button-active: #acc1fa;

$input-underline: #b3b3b3;
$input-underline-active: #4C79F5;

$margin-bottom-input: 1.8rem;
$margin-bottom-button: 1rem;

$middle-font-size: 1rem;

$border-radius: 5px;

$chat-list-color: #999999;
$left-chat-color-background: #FBFBFB;

$border-chat: #EAEAEA;
$none-icon-chat: #EFEFEF;
$quantity: #3369F3;

$left-chats-list: #F8F8F8;
$right-chat: #E4EDFD;

$white: #FFFFFF;
$black: #1E1E1E;