@import '../../../../consts.scss';

.body_chat {
  @include text($middle-background-color);
  cursor: default;
  width: 100%;
  height: auto;
  padding: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.chat__date {
  @include text($dark-text-color, bold);
  margin: $main-margin 0;
  text-align: center;
}
