$primary-text_color: #1e1e1e;
$sub-primary-text_color: #999;

$primary-button_color: #fff;

$blue: #3369f3;
$red: #ff2f2f;

$main_background: #fff;
$primary-element_background: #efefef;
$sub-primary-element_background: #fbfbfb;
