$main-color: #97aeff;
$second-color: #e4edfd;
$error-color: #ff2f2f;
$text-color: #1e1e1e;
$text-secondary-color: #999;

$background-color: #e2e2e2;
$chat-list-color: #d5d5d5;
$border-color: #999999;
