<div class="register">
    <h2>Register</h2>
    <form>
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" />
        </div>
        <div class="form-group">
            <label for="second_name">Second Name</label>
            <input type="text" id="second_name" name="second_name" />
        </div>
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" id="login" name="login" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" id="phone" name="phone" />
        </div>
        <button type="submit">Sign up</button>
    </form>
    <a href="/login">Login</a>
</div>