<div class="chat-list">
    <div class="chat-list__header">
        <div class="chat-list__header__empty"></div>
        <div class="chat-list__header__content">
            {{> Button name="arrow" }}
            <span>{{ title }}</span>
            {{> Button name="add" }}
        </div>
    </div>
    {{#each items}}
        {{> ChatItem }}
    {{/each}}
</div>
