<div class="chat-list">
    <div class="chat-list__header">
        {{> Search }}
        {{> Button type="settings"}}
    </div>
    <div class="chat-list__scroll">
        {{> ChatItem color1="#e66465" color2="#9198e5" firstChar="G"}}
        {{> ChatItem color1="#f108e5" color2="#264465" firstChar="D" isSelected=true}}
        {{> ChatItem color1="#e66465" color2="#f148e5" firstChar="T"}}
        {{> ChatItem color1="#966465" color2="#9198e5" firstChar="J"}}
        {{> ChatItem color1="#e06065" color2="#9190e9" firstChar="G"}}
        {{> ChatItem color1="#e66065" color2="#9198e5" firstChar="L"}}
        {{> ChatItem color1="#766465" color2="#c108e0" firstChar="G"}}
        {{> ChatItem color1="#e66465" color2="#9198e5" firstChar="U"}}
        {{> ChatItem color1="#e66465" color2="#9198e5" firstChar="G"}}
        {{> ChatItem color1="#e66265" color2="#d198ef" firstChar="G"}}
        {{> ChatItem color1="#566465" color2="#9198e5" firstChar="E"}}
        {{> ChatItem color1="#e66445" color2="#9498e5" firstChar="G"}}
        {{> ChatItem color1="#e66465" color2="#a198e5" firstChar="B"}}
        {{> ChatItem color1="#e664f5" color2="#9198e5" firstChar="G"}}
        {{> ChatItem color1="#e66465" color2="#0198e5" firstChar="G"}}
        {{> ChatItem color1="#e66a65" color2="#9198e5" firstChar="Q"}}
        {{> ChatItem color1="#e66465" color2="#298e5e" firstChar="G"}}
    </div>
</div>
