<div class="chat-page">
    <div class="chat-page__left">
        {{>ChatList list=chatList}}
    </div>
    <div class="chat-page__main">
        {{>MessageList messageList=messageList currentUser=currentUser}}
    </div>
</div>

