<div class="chat-info">
    <div class="chat-info__avatars">
        {{#each avatars}}
            {{{ Avatar data = data ref = ref }}}
        {{/each}}
    </div>
    <h2>{{ numberOfParticipants }}</h2>
</div>
