.button-profile-wrap {
    height: 50%;
    width: 100%;
    padding-top: 1.2rem;
    padding-right: 1rem;

    .button-profile {
        float: right;

        background: none;
        border: none;
        color: $chat-list-color;
    }
}