<div class="profile">
    <div class="profile__avatar">
        {{> Avatar image=user.image isLoadAvatar=true}}
        <h2 class="profile__avatar__name">{{user.firstName}} {{user.lastName}}</h2>
    </div>
    {{#with user}}
        <div class="profile__main">
            {{> @partial-block }}
        </div>
    {{/with}}
    {{#if withButton}}
        <div class="profile__button">
            {{> Button caption=button-text page=button-page }}
        </div>
    {{else}}
        <div class="profile__buttons">
            {{>Link caption="Change IUser Data" page="pageProfileEdit" type='success' linkLine=true  }}
            {{>Link caption="Change Password" page="pagePasswordEdit" type='success' linkLine=true  }}
            {{>Link caption="Cancel" page=button-page type='danger' }}
        </div>
    {{/if}}
</div>
<div class="block-cancel">
    {{> Button type="cancel" page=button-page }}
</div>

