{{> Divider/Divider }}
<div class="itemChat">


        {{> Avatar/Avatar src=src}}

    <div class="nameChat">
        <div class="userName">{{userName}}</div>
        <div class="message">{{senderUser}}:&nbsp;{{message}}</div>
    </div>
    <div class="infoChat">
{{time}}
        {{> Badge/Badge number=number}}
    </div>
</div>