template.profile__password-change
    .site-wrapper.profile-view
        a.back-link(href="../profile/profile.pug")
            .arrow
                img(src="../../images/back-arrow.svg" alt="")
        .profile__info
            .avatar
            .field
                label.detail Старый пароль
                label.user__info •••••••
            .field
                label.detail Новый пароль
                label.user__info •••••••••
            .field
                label.detail Повторите новый пароль
                label.user__info •••••••••
            button Выйти
            