<main class="profile">
  <div class="profile__row">
    <div class="profile__sidebar">
      <button class="profile__btn"><a href="/" class="nav__link"></a></button>
    </div>
    <div class="profile__info">
      <div class="profile__container">
        <form class="profile__content">
          <div class="profile__avatar-block pb-37">
            <div class="profile__avatar">
              <img src="{{avatar}}" alt="Аватар" />
            </div>
          </div>
          <div class="profile__inputs">
            <div class="profile__row">
              <label
                class="profile__label"
                for="profile__input-password-old"
              >Старый пароль</label>
              <input
                type="password"
                class="profile__input"
                id="profile__input-password-old"
                value="111111"
                name="oldPassword"
              />
            </div>
            <div class="profile__row">
              <label
                class="profile__label"
                for="profile__input-password-new"
              >Новый пароль</label>
              <input
                type="password"
                class="profile__input"
                id="profile__input-password-new"
                value="111111"
                name="newPassword"
              />
            </div>
            <div class="profile__row">
              <label
                class="profile__label"
                for="profile__input-password-confirm"
              >Повторите новый пароль</label>
              <input
                type="password"
                class="profile__input"
                id="profile__input-password-confirm"
                value="111111"
                name="newPassword"
              />
            </div>
          </div>
          <div class="profile__links mt-102">
            <button class="profile__link-btn">
              <a href="/profile" class="nav__link">
                Сохранить
              </a>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

</main>