<div class="containerError">
    <h1 class="codeError">{{code}}</h1>
    <h3 class="titleError">{{title}}</h3>
    <div class="linkPageError">{{>LinkPage/LinkPage text='Вернуться на главгую' href='/'}} </div>
</div>