<div class="singUp_container shadow">
    <form class="singUp_form">
        {{> Input placeholder="Почта" type='email' name='email' id='email' }}
        {{> Input placeholder="Логин" name='login' id='login' }}
        {{> Input placeholder="Имя" name='first_name' id='first_name' }}
        {{> Input placeholder="Фамилия" name='second_name' id='second_name' }}
        {{> Input placeholder="Телефон" name='phone' id='phone' }}
        {{> Input placeholder="Пароль" type='password' name='password' id='password' }}
        {{> Input placeholder="Повторите пароль" type='password' name='password_repeat' id='password_repeat' }}
    </form>
    {{> Button label="Зарегистрироваться" type="primary" page="chat" }}
    {{> Button label="Войти" type="text" page="chat" }}
</div>