.card {
    width: 340px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 5px #b3b3b3;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}