.link {
  color: var(--blue);
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px;
  transition: opacity 0.25s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}
