{{#if content }}
<div class="message-text">{{content}}</div>
{{/if}}
{{#if media }}
<div class="message-media"><img src="{{media}}" alt="Вложение"></div>
{{/if}}

<div class="message-send">
    <span class="read-status read-{{is_read}}"></span>
    <span class="send-time">
        {{time}}
    </span>
</div>
