<div class='{{class}}'>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea laboriosam maxime sapiente totam unde. Ducimus eaque explicabo ipsum
    laborum minus modi possimus quo quos reprehenderit sed. Aspernatur deleniti inventore modi!
</div>
