.message {
  position: relative;
  width: fit-content;
  max-width: 45%;
  background: #252525;
  border-radius: 10px;
  padding: 11px;
  overflow: hidden;

  .message-media {
    margin-top: -11px;

    img {
      width: calc(100% + 22px);
      margin-left: -11px;
      margin-bottom: -27px;

      // height: calc(100% + 31px);
    }
  }

  .message-text {
    margin-bottom: 5px;
  }

  .message-send {
    position: relative;
    z-index: 2;
    float: right;
    width: max-content;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    text-align: right;
    color: #999;
    background: rgb(82 82 82 / 50%);
    border-radius: 30px;
    padding: 2px 7px;

    .read-status {
      display: none;
      width: 9px;
      height: 4px;
      background: url("../../assets/icon/read.svg") no-repeat center;
    }
  }

  &.msg-out {
    align-self: flex-end;

    .message-send {
      .read-status {
        display: inline-block;
        margin-right: 3px;
        width: 9px;
        height: 4px;
        background: url("../../assets/icon/read.svg") no-repeat center;

        &.read-false {
          filter: grayscale(1);
        }
      }
    }
  }

  &.msg-text.msg-media {
    .message-text {
      margin-bottom: 20px;
    }
  }
}
