<div class="notFound">
    <span class="notFound_status">404</span>
    {{> Text text="Не туда попали" type='primary' size='large' }}
    {{> Button type='text' label='Назад к чатам' page="chat" }}
</div>