$btn-color: white;
$btn-bckGround-color: #3369f3;

.button {
	display: block;
	width: 100%;
	font-size: 15px;
	background-color: $btn-bckGround-color;
	color: $btn-color;
	margin-bottom: 20px;
	border-radius: 10px;
	padding: 15px;
	cursor: pointer;
}
