$info_input-bckGround-color: white;
$info_input-border: 1px solid lightgrey;

.info-input {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	border-bottom: $info_input-border;
	padding-bottom: 10px;
	input {
		width: 100%;
		border: none;
		max-width: 400px;
		background-color: $info_input-bckGround-color;
		text-align: right;
	}
}
