<link rel='stylesheet' href='/src/partials/info-input/info-input.scss' />
<div class='info-input'>{{field}}
	<input
		type='text'
		class='input'
		value={{value}}
		name={{name}}
		{{#if disabled}}disabled{{/if}}
	/></div>
