/* Color definition
$background-color: #282934
$background-color-second: #14141A
$background-color-third: #1E1F27
$background-color-fourth: #0A0A0D
$background-color-five: #E9E9EB
$background-color-six: #2E9DFB
$font-color: #FFF
$font-color-second: #14141A
$font-color-third: #999
$font-color-error: #ff7676
$font-color-text: #000

// Sizes
$avatar-size: 80px
$avatar-status-size: 18px
$avatar-size-medium: 60px
$avatar-status-size-medium: 14px
$avatar-size-small: 50px
$avatar-status-size-small: 12px
$avatar-size-smallest: 40px
$avatar-status-size-smallest: 10px
$chat-item-size: 74px
$chat-item-content-size: 60px

// Fonts
$font: "Roboto Light", Arial, sans-serif
