{{#> layout}}
  <div class="error-page">
    <span class="error-page_code">{{errorCode}}</span>
    <span class="error-page_message">{{errorMessage}}</span>
    <a href="/chat">Назад к чатам</a>
  </div>
{{/layout}}
