@use '../../scss/variables' as *;

.error-container {
  width: 100%;
  height: 100%;
  margin: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    color: $color-blue;
    margin: 15vw auto 0;
    font-size: max(2em, 10vw);
    font-weight: 300;
  }

  h2 {
    color: $color-blue;
    font-size: max(1em, 3vw);
    font-weight: 200;
  }
}
